force-app/main/default/flows/Copy_Task_To_Parent_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_accounts_is_null_on_custom_oppty</name>
        <label>Check if accounts is null on custom oppty</label>
        <locationX>473</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>Create_task_on_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account is not null</defaultConnectorLabel>
        <rules>
            <name>Account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_custom_opportunity.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Account is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_prefixes</name>
        <label>Compare prefixes</label>
        <locationX>441</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prefixes_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomOpptyPrefix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaskRelatedToIdPrefix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_custom_opportunity</targetReference>
            </connector>
            <label>Prefixes match</label>
        </rules>
    </decisions>
    <description>Creates a task inserted on child on the parent Account</description>
    <formulas>
        <name>CustomOpptyPrefix</name>
        <dataType>String</dataType>
        <expression>Left({!Get_Arbitrary_Custom_Oppty.Id}, 3)</expression>
    </formulas>
    <formulas>
        <name>TaskRelatedToIdPrefix</name>
        <dataType>String</dataType>
        <expression>Left({!InsertedTask.WhatId}, 3)</expression>
    </formulas>
    <interviewLabel>Copy Task To Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Task To Parent Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_on_parent_account</name>
        <label>Create task on parent account</label>
        <locationX>483</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InsertedTask.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDisposition</field>
            <value>
                <elementReference>InsertedTask.CallDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>InsertedTask.CallDurationInSeconds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallObject</field>
            <value>
                <elementReference>InsertedTask.CallObject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <elementReference>InsertedTask.CallType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>InsertedTask.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>InsertedTask.IsRecurrence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <elementReference>InsertedTask.IsReminderSet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>InsertedTask.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>InsertedTask.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>InsertedTask.RecurrenceDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfWeekMask</field>
            <value>
                <elementReference>InsertedTask.RecurrenceDayOfWeekMask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>InsertedTask.RecurrenceEndDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInstance</field>
            <value>
                <elementReference>InsertedTask.RecurrenceInstance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>InsertedTask.RecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceMonthOfYear</field>
            <value>
                <elementReference>InsertedTask.RecurrenceMonthOfYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceRegeneratedType</field>
            <value>
                <elementReference>InsertedTask.RecurrenceRegeneratedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>InsertedTask.RecurrenceStartDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceTimeZoneSidKey</field>
            <value>
                <elementReference>InsertedTask.RecurrenceTimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>InsertedTask.RecurrenceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>InsertedTask.ReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>InsertedTask.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>InsertedTask.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>InsertedTask.TaskSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_related_custom_opportunity.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>InsertedTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Arbitrary_Custom_Oppty</name>
        <label>Get Arbitrary Custom Oppty</label>
        <locationX>268</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_prefixes</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_custom_opportunity</name>
        <label>Get related custom opportunity</label>
        <locationX>629</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_accounts_is_null_on_custom_oppty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsertedTask.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Arbitrary_Custom_Oppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CustomOpportunity__c</objectType>
    </variables>
    <variables>
        <name>InsertedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
