force-app/main/default/flows/CreateNotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment_fields_in_note</name>
        <label>Assignment fields in note</label>
        <locationX>345</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>NoteRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThemePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoteTextArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoteRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Note_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Inkludering</name>
        <choiceText>Inkludering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inkludering</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refusjoner</name>
        <choiceText>Refusjoner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refusjoner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sykemelding</name>
        <choiceText>Sykemelding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sykemelding</stringValue>
        </value>
    </choices>
    <interviewLabel>Notat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Note_Record</name>
        <label>Create Note Record</label>
        <locationX>495</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Note_created_screen</targetReference>
        </connector>
        <inputReference>NoteRecord</inputReference>
    </recordCreates>
    <screens>
        <name>Note_created_screen</name>
        <label>Note created screen</label>
        <locationX>672</locationX>
        <locationY>61</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmCreatedNote</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Notatet ditt er lagret&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes_Screen</name>
        <label>Notes Screen</label>
        <locationX>177</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_fields_in_note</targetReference>
        </connector>
        <fields>
            <name>ThemePicklist</name>
            <choiceReferences>Refusjoner</choiceReferences>
            <choiceReferences>Sykemelding</choiceReferences>
            <choiceReferences>Inkludering</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tema</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoteTextArea</name>
            <fieldText>Notat</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Notes_Screen</startElementReference>
    <status>Active</status>
    <variables>
        <name>NoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CustomNote__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Theme</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
