force-app/main/default/flows/Feedback_event_subscriber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>POAGData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ComponentRatingRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POAGData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserHasRatedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ComponentRating_variables</name>
        <label>Set ComponentRating variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ComponentRatingRecord.Vote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComponentRatingRecord.ComponentName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ComponentName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComponentRatingRecord.VoteKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ComponentName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_HasRated_variables</name>
        <label>Set HasRated variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserHasRatedRecord.VoteKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VoteKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ComponentRating_variables</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Feedback event subscriber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback event subscriber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_records</name>
        <label>Create records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>POAGData</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_HasRated_variables</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>TAG_Feedback__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ComponentRatingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POAG_Data__c</objectType>
    </variables>
    <variables>
        <name>POAGData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POAG_Data__c</objectType>
    </variables>
    <variables>
        <name>UserHasRatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POAG_Data__c</objectType>
    </variables>
</Flow>
