force-app/main/default/flows/InclusionOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_values_to_new_inclusion_opportunity</name>
        <label>Assign values to new inclusion opportunity</label>
        <locationX>629</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.BasicSkills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BasciSkills</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.EmployerNeeds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployerNeeds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.PhysicalArrangements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhysicalArrangements</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.WorkEnvironment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkEnvironment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.WorkTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.InclusionStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Virksomhet kontaktet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.InquiryCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryCategory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInclusionOpportunity.ResponsibleUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inclusion_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Inclusion</name>
        <choiceText>Inkludering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inkludering</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>Nei</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nei</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruiting</name>
        <choiceText>Rekruttering</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rekruttering</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Ja</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ja</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_employer_needs</name>
        <label>Check employer needs</label>
        <locationX>395</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Screen4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EmployerNeedsIsArbeidstrening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmployerNeeds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidstrening</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>Arbeidsgivers behov er arbeidstrening</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_create_or_update</name>
        <label>Check if create or update</label>
        <locationX>624</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inclusion_Opportunity_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InclusionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInclusionOpportunity</targetReference>
            </connector>
            <label>Inclusion Opportunity exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BasicSkilsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BasicSkills__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmployerNeedsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EmployerNeeds__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhysicalArrangementsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PhysicalArrangements__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkEnviornmentPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WorkEnvironment__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkTimePicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WorkTime__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>InclusionOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InclusionOpportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inclusion_Opportunity</name>
        <label>Create Inclusion Opportunity</label>
        <locationX>630</locationX>
        <locationY>1214</locationY>
        <inputReference>NewInclusionOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>630</locationX>
        <locationY>822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_values_to_new_inclusion_opportunity</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inclusion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInclusionOpportunity</name>
        <label>Get Inclusion Opportunity</label>
        <locationX>787</locationX>
        <locationY>536</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Inclusion_Opportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InclusionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inclusion_Opportunity</name>
        <label>Update Inclusion Opportunity</label>
        <locationX>1070</locationX>
        <locationY>536</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInclusionOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BasicSkills__c</field>
            <value>
                <elementReference>BasciSkills</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmployerNeeds__c</field>
            <value>
                <elementReference>EmployerNeeds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Virksomhet kontaktet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <elementReference>InquiryCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhysicalArrangements__c</field>
            <value>
                <elementReference>PhysicalArrangements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkEnvironment__c</field>
            <value>
                <elementReference>WorkEnvironment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTime__c</field>
            <value>
                <elementReference>WorkTime</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <fields>
            <name>InquiryCategory</name>
            <choiceReferences>Recruiting</choiceReferences>
            <choiceReferences>Inclusion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Henvendelseskategori</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IncludeInThisPosistion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Kan dere inkludere på stilligen?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InquiryCategory</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Recruiting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WhatDoesItTake</name>
            <dataType>String</dataType>
            <fieldText>Hva skal til for at der kan inkludere på stillingen?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IncludeInThisPosistion</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>403</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_employer_needs</targetReference>
        </connector>
        <fields>
            <name>EmployerNeeds</name>
            <choiceReferences>EmployerNeedsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arbeidsgivers behov</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>160</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen4</targetReference>
        </connector>
        <fields>
            <name>ControlQuestions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Kontrollspørsmål:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Kan dere tilrettelegge for forskjellige behov og utfordringer? NEI, ut&lt;/li&gt;&lt;li&gt;Vil vedkommende dere tar inn ha resultat eller budsjettansvar? Ja, ut&lt;/li&gt;&lt;li&gt;Er dere økonomisk avhengig av kandidaten? JA, ut&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;a href=&quot;http://nav.no&quot; target=&quot;_blank&quot;&gt;Gå til rekrutteringsbistandsverktøy&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4</name>
        <label>Screen4</label>
        <locationX>271</locationX>
        <locationY>554</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_create_or_update</targetReference>
        </connector>
        <fields>
            <name>InclusionPossibilities</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Kartlegg i﻿nkluderingsmuligheter&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkEnvironment</name>
            <choiceReferences>WorkEnviornmentPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arbeidsmiljø</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PhysicalArrangements</name>
            <choiceReferences>PhysicalArrangementsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fysisk tilrettelegging</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BasciSkills</name>
            <choiceReferences>BasicSkilsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grunnleggende ferdigheter</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>WorkTime</name>
            <choiceReferences>WorkTimePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Arbeidstid</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InclusionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewInclusionOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CustomOpportunity__c</objectType>
    </variables>
</Flow>
