force-app/main/default/flows/InclusionOpportunity_Initiator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<actionCalls>
		<processMetadataValues>
			<name>customNotifTypeName</name>
			<value>
				<stringValue>NotifyResponsibleWorker</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>recipientCategory</name>
			<value>
				<stringValue>owner</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>recipientType</name>
			<value>
				<stringValue>reference</stringValue>
			</value>
		</processMetadataValues>
		<name>myRule_1_A1</name>
		<label>Notify NAV Unit</label>
		<locationX>100</locationX>
		<locationY>200</locationY>
		<actionName>customNotificationAction</actionName>
		<actionType>customNotificationAction</actionType>
		<connector>
			<targetReference>myWait_myRule_1</targetReference>
		</connector>
		<inputParameters>
			<name>customNotifTypeId</name>
			<value>
				<stringValue>000000000000000</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>customNotifTypeName</name>
			<value>
				<stringValue>NotifyResponsibleWorker</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>title</name>
			<value>
				<stringValue>En ny henvendelse ang책ende inkludering har blitt sendt inn!</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>body</name>
			<value>
				<stringValue>Sjekk ut inkluderingsmuligheten her.</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>targetId</name>
			<value>
				<stringValue>{!myVariable_current.Id}</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>String</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>true</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>recipientIds</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>maxOccurs</name>
				<value>
					<numberValue>500.0</numberValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>objectType</name>
				<value>
					<stringValue />
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>String</stringValue>
				</value>
			</processMetadataValues>
			<name>recipientIds</name>
			<value>
				<elementReference>myCollection_myRule_1_A1recipientIds</elementReference>
			</value>
		</inputParameters>
	</actionCalls>
	<actionCalls>
		<processMetadataValues>
			<name>customNotifTypeName</name>
			<value>
				<stringValue>NotifyResponsibleWorker</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>recipientCategory</name>
			<value>
				<stringValue>queue</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>recipientType</name>
			<value>
				<stringValue>reference</stringValue>
			</value>
		</processMetadataValues>
		<name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
		<label>Remind team of inquiry</label>
		<locationX>100</locationX>
		<locationY>200</locationY>
		<actionName>customNotificationAction</actionName>
		<actionType>customNotificationAction</actionType>
		<connector>
			<targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
		</connector>
		<inputParameters>
			<name>customNotifTypeId</name>
			<value>
				<stringValue>000000000000000</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>customNotifTypeName</name>
			<value>
				<stringValue>NotifyResponsibleWorker</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>title</name>
			<value>
				<stringValue>Det er henvendelser p책 benken som trengs 책 taes tak i. </stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>body</name>
			<value>
				<stringValue>Denne henvendelsen har ligget p책 benken i 1 time, uten at noen har fulgt den opp.</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<name>targetId</name>
			<value>
				<stringValue>{!myVariable_current.Id}</stringValue>
			</value>
		</inputParameters>
		<inputParameters>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>String</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>true</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>recipientIds</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>maxOccurs</name>
				<value>
					<numberValue>500.0</numberValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>objectType</name>
				<value>
					<stringValue />
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>String</stringValue>
				</value>
			</processMetadataValues>
			<name>recipientIds</name>
			<value>
				<elementReference>myCollection_myWaitEvent_myWait_myRule_1_event_0_SA1recipientIds</elementReference>
			</value>
		</inputParameters>
	</actionCalls>
	<assignments>
		<name>myAssignment_myRule_1_A1</name>
		<label>myAssignment_myRule_1_A1</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<assignmentItems>
			<assignToReference>myCollection_myRule_1_A1recipientIds</assignToReference>
			<operator>Add</operator>
			<value>
				<elementReference>myVariable_current.OwnerId</elementReference>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>myRule_1_A1</targetReference>
		</connector>
	</assignments>
	<assignments>
		<name>myAssignment_myWaitEvent_myWait_myRule_1_event_0_SA1</name>
		<label>myAssignment_myWaitEvent_myWait_myRule_1_event_0_SA1</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<assignmentItems>
			<assignToReference>myCollection_myWaitEvent_myWait_myRule_1_event_0_SA1recipientIds</assignToReference>
			<operator>Add</operator>
			<value>
				<elementReference>myVariable_current.Owner:Queue.Id</elementReference>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
		</connector>
	</assignments>
	<assignments>
		<name>myWaitAssignment_myWait_myRule_1</name>
		<label>myWaitAssignment_myWait_myRule_1</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<assignmentItems>
			<assignToReference>cancelWaits</assignToReference>
			<operator>Add</operator>
			<value>
				<stringValue>myWait_myRule_1</stringValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>myDecision</targetReference>
		</connector>
	</assignments>
	<assignments>
		<name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
		<label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<assignmentItems>
			<assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
			<operator>Assign</operator>
			<value>
				<booleanValue>true</booleanValue>
			</value>
		</assignmentItems>
		<connector>
			<targetReference>myWait_myRule_1</targetReference>
		</connector>
	</assignments>
	<decisions>
		<processMetadataValues>
			<name>index</name>
			<value>
				<numberValue>0.0</numberValue>
			</value>
		</processMetadataValues>
		<name>myDecision</name>
		<label>myDecision</label>
		<locationX>50</locationX>
		<locationY>0</locationY>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>myRule_1</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>formula_myRule_1</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myAssignment_myRule_1_A1</targetReference>
			</connector>
			<label>Fra kontaktskjema</label>
		</rules>
	</decisions>
	<decisions>
		<name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</name>
		<label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>myVariable_current.CreatedDate</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myAssignment_myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
			</connector>
			<label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</label>
		</rules>
	</decisions>
	<decisions>
		<name>myPreWaitDecision_myWait_myRule_1</name>
		<label>myPreWaitDecision_myWait_myRule_1</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>myPreWaitRule_myWait_myRule_1</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>formula_myRule_1</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myDecision</targetReference>
			</connector>
			<label>myPreWaitRule_myWait_myRule_1</label>
		</rules>
	</decisions>
	<formulas>
		<processMetadataValues>
			<name>originalFormula</name>
			<value>
				<stringValue>[CustomOpportunity__c].IsFromContactForm__c == true 

&amp;&amp;

TEXT([CustomOpportunity__c].InclusionStage__c) == &#39;Ny henvendelse&#39;
</stringValue>
			</value>
		</processMetadataValues>
		<name>formula_myRule_1</name>
		<dataType>Boolean</dataType>
		<expression>{!myVariable_current.IsFromContactForm__c} == true 

&amp;&amp;

TEXT({!myVariable_current.InclusionStage__c}) == &#39;Ny henvendelse&#39;</expression>
	</formulas>
	<interviewLabel>InclusionOpportunity_Initiator-4_InterviewLabel</interviewLabel>
	<label>Inkluderingsmulighet_Initiator</label>
	<processMetadataValues>
		<name>ObjectType</name>
		<value>
			<stringValue>CustomOpportunity__c</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>ObjectVariable</name>
		<value>
			<elementReference>myVariable_current</elementReference>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OldObjectVariable</name>
		<value>
			<elementReference>myVariable_old</elementReference>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>TriggerType</name>
		<value>
			<stringValue>onCreateOnly</stringValue>
		</value>
	</processMetadataValues>
	<processType>Workflow</processType>
	<startElementReference>myPreWaitDecision_myWait_myRule_1</startElementReference>
	<status>Draft</status>
	<variables>
		<name>cancelWaits</name>
		<dataType>String</dataType>
		<isCollection>true</isCollection>
		<isInput>false</isInput>
		<isOutput>true</isOutput>
	</variables>
	<variables>
		<name>myCollection_myRule_1_A1recipientIds</name>
		<dataType>String</dataType>
		<isCollection>true</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
	</variables>
	<variables>
		<name>myCollection_myWaitEvent_myWait_myRule_1_event_0_SA1recipientIds</name>
		<dataType>String</dataType>
		<isCollection>true</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
	</variables>
	<variables>
		<name>myVariable_current</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>true</isOutput>
		<objectType>CustomOpportunity__c</objectType>
	</variables>
	<variables>
		<name>myVariable_old</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>false</isOutput>
		<objectType>CustomOpportunity__c</objectType>
	</variables>
	<variables>
		<name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
		<dataType>Boolean</dataType>
		<isCollection>false</isCollection>
		<isInput>false</isInput>
		<isOutput>false</isOutput>
		<value>
			<booleanValue>false</booleanValue>
		</value>
	</variables>
	<waits>
		<name>myWait_myRule_1</name>
		<label>myWait_myRule_1</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
		<waitEvents>
			<processMetadataValues>
				<name>inputParameterType</name>
				<value>
					<stringValue>referenced</stringValue>
				</value>
			</processMetadataValues>
			<name>myWaitEvent_myWait_myRule_1_event_0</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</targetReference>
			</connector>
			<eventType>DateRefAlarmEvent</eventType>
			<inputParameters>
				<name>TimeTableColumnEnumOrId</name>
				<value>
					<stringValue>CustomOpportunity__c</stringValue>
				</value>
			</inputParameters>
			<inputParameters>
				<name>EntityObjectId</name>
				<value>
					<elementReference>myVariable_current.Id</elementReference>
				</value>
			</inputParameters>
			<inputParameters>
				<name>TimeOffsetUnit</name>
				<value>
					<stringValue>Hours</stringValue>
				</value>
			</inputParameters>
			<inputParameters>
				<name>TimeOffset</name>
				<value>
					<numberValue>1.0</numberValue>
				</value>
			</inputParameters>
			<inputParameters>
				<name>TimeFieldColumnEnumOrId</name>
				<value>
					<stringValue>CreatedDate</stringValue>
				</value>
			</inputParameters>
			<label>myWaitEvent_myWait_myRule_1_event_0</label>
		</waitEvents>
	</waits>
</Flow>