force-app/main/default/flows/InclusionOpportunity_Initiator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Sett enhetsnummer basert på kommunenummer</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.UnitNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Enhetsnummer tomt</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Sett eier til oslo queue</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>case([InclusionOpportunity__c].Account__c.MunicipalityNumber__c , 
1826, 1826,
5018, 1630,
5016, 1638,
619, 617,
1504, 1504,
1820, 1820,
2012, 2012,
438, 437,
929, 929,
429, 429,
1871, 1871,
1424, 1424,
118, 118,
906, 906,
214, 214,
1026, 1026,
220, 220,
124, 124,
1247, 1247,
1428, 1428,
425, 425,
1027, 1027,
1547, 1547,
1576, 1576,
1421, 1421,
221, 221,
1244, 1244,
1264, 1266,
1554, 1554,
219, 219,
1418, 1418,
1854, 1854,
1933, 1933,
814, 814,
1922, 1922,
2028, 2028,
1839, 1839,
1929, 1929,
1201, 1204,
2024, 2024,
1811, 1811,
928, 928,
1114, 1114,
5017, 1627,
1867, 1867,
821, 821,
1804, 1804,
1145, 1149,
1219, 1219,
1438, 1438,
1813, 1813,
938, 938,
941, 941,
2025, 2025,
1850, 1850,
1827, 1827,
511, 511,
602, 602,
817, 817,
1926, 1926,
1443, 1443,
1551, 1548,
1232, 1232,
125, 125,
420, 420,
237, 237,
1101, 1101,
427, 427,
229, 229,
434, 434,
1211, 1211,
541, 542,
1853, 1805,
937, 937,
729, 5302,
1003, 1003,
1841, 1841,
1265, 1266,
227, 227,
1141, 1141,
1222, 1222,
1429, 1429,
1246, 1246,
615, 617,
1859, 1859,
5049, 1749,
1004, 1004,
631, 632,
1401, 1401,
439, 439,
1432, 1432,
1129, 1129,
5048, 1748,
1548, 1548,
106, 106,
215, 215,
919, 919,
5036, 1783,
5014, 1620,
1241, 1241,
831, 831,
1940, 1940,
2023, 2023,
1430, 1430,
522, 501,
1838, 1838,
1532, 1532,
1557, 1557,
234, 234,
911, 911,
1122, 1122,
502, 502,
1445, 1445,
617, 617,
534, 534,
1825, 1825,
1234, 1234,
1919, 1805,
904, 904,
5045, 1742,
423, 423,
1411, 1266,
2011, 2011,
1119, 1119,
1866, 1866,
1034, 1034,
101, 101,
1571, 1571,
403, 403,
1849, 1849,
2004, 2004,
1534, 1534,
1517, 1517,
1903, 1903,
2015, 2015,
1106, 1106,
5011, 1612,
1832, 1832,
618, 617,
1515, 1515,
1818, 1818,
5013, 1620,
827, 827,
1133, 1133,
138, 123,
620, 617,
612, 612,
715, 5301,
5026, 1640,
1444, 1444,
701, 701,
1416, 1416,
5046, 1743,
239, 239,
628, 628,
111, 111,
1413, 1413,
1917, 1917,
5053, 1702,
5054, 5703,
935, 935,
532, 532,
1431, 1431,
1227, 1227,
2021, 2021,
1936, 1936,
1149, 1149,
5030, 5702,
1120, 1120,
604, 604,
402, 402,
815, 815,
1001, 1001,
1505, 1505,
622, 622,
1911, 1911,
1943, 1943,
2017, 2017,
1238, 1238,
1037, 1037,
1224, 1224,
829, 829,
1144, 1127,
1422, 1422,
712, 5303,
2022, 2022,
1419, 1419,
1822, 1822,
5052, 1755,
1931, 1931,
512, 511,
5037, 1719,
626, 626,
5042, 1738,
501, 501,
926, 926,
1263, 1263,
1029, 1029,
1920, 1920,
1851, 1851,
514, 513,
2014, 2014,
230, 230,
415, 415,
1112, 1112,
533, 534,
1834, 1834,
1426, 1426,
1032, 1032,
1938, 1938,
1924, 1924,
5031, 1663,
1002, 1002,
119, 119,
1021, 1021,
1266, 1266,
2018, 2018,
1256, 1256,
5023, 1636,
5028, 1653,
1837, 1837,
5034, 1783,
1545, 1545,
5027, 1648,
1252, 1266,
623, 623,
1502, 1502,
1874, 1874,
104, 104,
5051, 1751,
5040, 1725,
5005, 1703,
5044, 1740,
238, 238,
1805, 1805,
1433, 1433,
625, 625,
236, 236,
616, 617,
1828, 1828,
216, 216,
1543, 1543,
830, 829,
233, 233,
819, 821,
542, 542,
1524, 1529,
516, 516,
2019, 2019,
418, 418,
538, 538,
1942, 1942,
633, 632,
807, 807,
1228, 1228,
1868, 1868,
5021, 1634,
217, 217,
5024, 1638,
5015, 1621,
1523, 1529,
1520, 1520,
441, 1640,
1243, 1243,
5020, 1630,
301, 330,
1253, 1253,
528, 528,
5047, 1744,
624, 624,
521, 521,
1259, 1259,
544, 542,
0000)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1783243826</name>
        <dataType>Number</dataType>
        <expression>case({!myVariable_current.Account__r.MunicipalityNumber__c} , 
1826, 1826,
5018, 1630,
5016, 1638,
619, 617,
1504, 1504,
1820, 1820,
2012, 2012,
438, 437,
929, 929,
429, 429,
1871, 1871,
1424, 1424,
118, 118,
906, 906,
214, 214,
1026, 1026,
220, 220,
124, 124,
1247, 1247,
1428, 1428,
425, 425,
1027, 1027,
1547, 1547,
1576, 1576,
1421, 1421,
221, 221,
1244, 1244,
1264, 1266,
1554, 1554,
219, 219,
1418, 1418,
1854, 1854,
1933, 1933,
814, 814,
1922, 1922,
2028, 2028,
1839, 1839,
1929, 1929,
1201, 1204,
2024, 2024,
1811, 1811,
928, 928,
1114, 1114,
5017, 1627,
1867, 1867,
821, 821,
1804, 1804,
1145, 1149,
1219, 1219,
1438, 1438,
1813, 1813,
938, 938,
941, 941,
2025, 2025,
1850, 1850,
1827, 1827,
511, 511,
602, 602,
817, 817,
1926, 1926,
1443, 1443,
1551, 1548,
1232, 1232,
125, 125,
420, 420,
237, 237,
1101, 1101,
427, 427,
229, 229,
434, 434,
1211, 1211,
541, 542,
1853, 1805,
937, 937,
729, 5302,
1003, 1003,
1841, 1841,
1265, 1266,
227, 227,
1141, 1141,
1222, 1222,
1429, 1429,
1246, 1246,
615, 617,
1859, 1859,
5049, 1749,
1004, 1004,
631, 632,
1401, 1401,
439, 439,
1432, 1432,
1129, 1129,
5048, 1748,
1548, 1548,
106, 106,
215, 215,
919, 919,
5036, 1783,
5014, 1620,
1241, 1241,
831, 831,
1940, 1940,
2023, 2023,
1430, 1430,
522, 501,
1838, 1838,
1532, 1532,
1557, 1557,
234, 234,
911, 911,
1122, 1122,
502, 502,
1445, 1445,
617, 617,
534, 534,
1825, 1825,
1234, 1234,
1919, 1805,
904, 904,
5045, 1742,
423, 423,
1411, 1266,
2011, 2011,
1119, 1119,
1866, 1866,
1034, 1034,
101, 101,
1571, 1571,
403, 403,
1849, 1849,
2004, 2004,
1534, 1534,
1517, 1517,
1903, 1903,
2015, 2015,
1106, 1106,
5011, 1612,
1832, 1832,
618, 617,
1515, 1515,
1818, 1818,
5013, 1620,
827, 827,
1133, 1133,
138, 123,
620, 617,
612, 612,
715, 5301,
5026, 1640,
1444, 1444,
701, 701,
1416, 1416,
5046, 1743,
239, 239,
628, 628,
111, 111,
1413, 1413,
1917, 1917,
5053, 1702,
5054, 5703,
935, 935,
532, 532,
1431, 1431,
1227, 1227,
2021, 2021,
1936, 1936,
1149, 1149,
5030, 5702,
1120, 1120,
604, 604,
402, 402,
815, 815,
1001, 1001,
1505, 1505,
622, 622,
1911, 1911,
1943, 1943,
2017, 2017,
1238, 1238,
1037, 1037,
1224, 1224,
829, 829,
1144, 1127,
1422, 1422,
712, 5303,
2022, 2022,
1419, 1419,
1822, 1822,
5052, 1755,
1931, 1931,
512, 511,
5037, 1719,
626, 626,
5042, 1738,
501, 501,
926, 926,
1263, 1263,
1029, 1029,
1920, 1920,
1851, 1851,
514, 513,
2014, 2014,
230, 230,
415, 415,
1112, 1112,
533, 534,
1834, 1834,
1426, 1426,
1032, 1032,
1938, 1938,
1924, 1924,
5031, 1663,
1002, 1002,
119, 119,
1021, 1021,
1266, 1266,
2018, 2018,
1256, 1256,
5023, 1636,
5028, 1653,
1837, 1837,
5034, 1783,
1545, 1545,
5027, 1648,
1252, 1266,
623, 623,
1502, 1502,
1874, 1874,
104, 104,
5051, 1751,
5040, 1725,
5005, 1703,
5044, 1740,
238, 238,
1805, 1805,
1433, 1433,
625, 625,
236, 236,
616, 617,
1828, 1828,
216, 216,
1543, 1543,
830, 829,
233, 233,
819, 821,
542, 542,
1524, 1529,
516, 516,
2019, 2019,
418, 418,
538, 538,
1942, 1942,
633, 632,
807, 807,
1228, 1228,
1868, 1868,
5021, 1634,
217, 217,
5024, 1638,
5015, 1621,
1523, 1529,
1520, 1520,
441, 1640,
1243, 1243,
5020, 1630,
301, 330,
1253, 1253,
528, 528,
5047, 1744,
624, 624,
521, 521,
1259, 1259,
544, 542,
0000)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([InclusionOpportunity__c].Account__c.MunicipalityNumber__c, 
2020, 2020,
805, 805,
5043, 1739,
135, 135,
1260, 1260,
228, 228,
128, 128,
1833, 1833,
1127, 1127,
1539, 1539,
716, 716,
432, 437,
5022, 1634,
1142, 1142,
5061, 1567,
520, 516,
605, 605,
412, 412,
901, 901,
5019, 1630,
1836, 1836,
632, 632,
121, 121,
5025, 1640,
1856, 1856,
627, 627,
136, 136,
1923, 1923,
1840, 1840,
1242, 1242,
1514, 1517,
713, 5301,
710, 710,
1102, 1102,
1546, 1546,
105, 105,
1135, 1135,
822, 821,
517, 517,
5032, 1783,
1441, 1441,
828, 828,
621, 621,
811, 811,
1046, 1046,
1913, 1913,
5029, 1657,
231, 231,
213, 213,
806, 806,
127, 127,
513, 513,
1941, 1941,
1529, 1529,
1573, 1573,
5041, 1702,
5012, 1612,
1420, 1420,
1018, 1018,
1111, 1111,
1124, 1124,
1412, 1412,
1812, 1812,
536, 536,
1017, 1017,
540, 542,
1845, 1845,
519, 516,
419, 419,
1925, 1925,
1870, 1870,
226, 226,
2030, 2030,
123, 123,
417, 417,
1103, 1162,
1848, 1848,
5004, 1702,
5035, 1783,
1221, 1221,
1526, 1529,
430, 430,
1939, 1933,
1130, 1130,
1525, 1525,
1449, 1449,
1531, 1531,
1134, 1134,
1245, 1245,
1563, 1563,
1566, 1566,
1216, 1216,
711, 711,
1528, 1528,
1121, 1120,
1560, 1560,
826, 826,
1852, 1913,
833, 833,
436, 437,
704, 704,
1928, 1928,
1835, 1835,
1927, 1927,
122, 122,
1902, 1902,
5001, 5701,
428, 428,
914, 914,
5033, 1783,
437, 437,
1223, 1223,
1146, 1146,
235, 235,
1231, 1231,
1516, 1517,
1233, 1233,
2027, 2027,
1151, 1106,
2003, 2003,
1857, 1857,
515, 515,
1865, 1865,
1439, 1439,
1251, 1251,
426, 426,
137, 137,
940, 940,
545, 542,
1511, 1515,
2002, 2002,
1824, 1824,
1815, 1815,
912, 912,
1014, 1014,
5038, 1721,
5039, 1702,
211, 211,
1535, 1535,
543, 542,
529, 529,
1860, 1860,
1816, 1816,
1417, 1417,
5050, 1750,
1160, 1160,
834, 834,
1519, 1520,
1235, 1235,
0000)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_4860335916</name>
        <dataType>Number</dataType>
        <expression>CASE({!myVariable_current.Account__r.MunicipalityNumber__c}, 
2020, 2020,
805, 805,
5043, 1739,
135, 135,
1260, 1260,
228, 228,
128, 128,
1833, 1833,
1127, 1127,
1539, 1539,
716, 716,
432, 437,
5022, 1634,
1142, 1142,
5061, 1567,
520, 516,
605, 605,
412, 412,
901, 901,
5019, 1630,
1836, 1836,
632, 632,
121, 121,
5025, 1640,
1856, 1856,
627, 627,
136, 136,
1923, 1923,
1840, 1840,
1242, 1242,
1514, 1517,
713, 5301,
710, 710,
1102, 1102,
1546, 1546,
105, 105,
1135, 1135,
822, 821,
517, 517,
5032, 1783,
1441, 1441,
828, 828,
621, 621,
811, 811,
1046, 1046,
1913, 1913,
5029, 1657,
231, 231,
213, 213,
806, 806,
127, 127,
513, 513,
1941, 1941,
1529, 1529,
1573, 1573,
5041, 1702,
5012, 1612,
1420, 1420,
1018, 1018,
1111, 1111,
1124, 1124,
1412, 1412,
1812, 1812,
536, 536,
1017, 1017,
540, 542,
1845, 1845,
519, 516,
419, 419,
1925, 1925,
1870, 1870,
226, 226,
2030, 2030,
123, 123,
417, 417,
1103, 1162,
1848, 1848,
5004, 1702,
5035, 1783,
1221, 1221,
1526, 1529,
430, 430,
1939, 1933,
1130, 1130,
1525, 1525,
1449, 1449,
1531, 1531,
1134, 1134,
1245, 1245,
1563, 1563,
1566, 1566,
1216, 1216,
711, 711,
1528, 1528,
1121, 1120,
1560, 1560,
826, 826,
1852, 1913,
833, 833,
436, 437,
704, 704,
1928, 1928,
1835, 1835,
1927, 1927,
122, 122,
1902, 1902,
5001, 5701,
428, 428,
914, 914,
5033, 1783,
437, 437,
1223, 1223,
1146, 1146,
235, 235,
1231, 1231,
1516, 1517,
1233, 1233,
2027, 2027,
1151, 1106,
2003, 2003,
1857, 1857,
515, 515,
1865, 1865,
1439, 1439,
1251, 1251,
426, 426,
137, 137,
940, 940,
545, 542,
1511, 1515,
2002, 2002,
1824, 1824,
1815, 1815,
912, 912,
1014, 1014,
5038, 1721,
5039, 1702,
211, 211,
1535, 1535,
543, 542,
529, 529,
1860, 1860,
1816, 1816,
1417, 1417,
5050, 1750,
1160, 1160,
834, 834,
1519, 1520,
1235, 1235,
0000)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>InclusionOpportunity_Initiator-4_InterviewLabel</interviewLabel>
    <label>Inkluderingsmulighet_Initiator</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>InclusionOpportunity__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[InclusionOpportunity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Sett enhetsnummer</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Enhetsnummer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UnitNumber__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1783243826</elementReference>
            </value>
        </inputAssignments>
        <object>InclusionOpportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[InclusionOpportunity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Sett enhetsnummer2</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Enhetsnummer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UnitNumber__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_4860335916</elementReference>
            </value>
        </inputAssignments>
        <object>InclusionOpportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[InclusionOpportunity__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Set Oslo Queue</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>InclusionQueue</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1j000001uu2oEAA</stringValue>
            </value>
        </inputAssignments>
        <object>InclusionOpportunity__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>InclusionOpportunity__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>InclusionOpportunity__c</objectType>
    </variables>
</Flow>
