force-app/main/default/flows/NAV_Task_Assign_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>QueueSelected</name>
        <label>QueueSelected</label>
        <locationX>336</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasQueueId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueLookup.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner</targetReference>
            </connector>
            <label>hasQueueId</label>
        </rules>
    </decisions>
    <description>Allows the user to change the owner of the task record to a different Queue.</description>
    <interviewLabel>NAV Task- Assign to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAV Task- Assign to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>520</locationX>
        <locationY>212</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueLookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>NavTask__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Change the task owner.</description>
        <name>Endre_eier</name>
        <label>Endre eier</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>QueueSelected</targetReference>
        </connector>
        <fields>
            <name>QueueLookup</name>
            <extensionName>c:queueLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>availableForSObjectType</name>
                <value>
                    <stringValue>NAVTask__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Endre_eier_Section1</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endre_eier_Section2</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endre_eier_Section3</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endre_eier_Section4</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endre_eier_Section5</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Endre_eier_Section6</name>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Endre_eier_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Endre_eier</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
