force-app/main/default/flows/Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
	<decisions>
		<name>isChangedDecision2_myRule_1_TAG_CreateContract_c</name>
		<label>isChangedDecision2_myRule_1_TAG_CreateContract_c</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>isChangedDecision3_myRule_1_InclusionStage_c</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>isChangedRule_2_myRule_1_TAG_CreateContract_c</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>myVariable_old</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>myVariable_old.TAG_CreateContract__c</leftValueReference>
				<operator>NotEqualTo</operator>
				<rightValue>
					<elementReference>myVariable_current.TAG_CreateContract__c</elementReference>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>isChangedDecision3_myRule_1_InclusionStage_c</targetReference>
			</connector>
			<label>isChangedRule_2_myRule_1_TAG_CreateContract_c</label>
		</rules>
	</decisions>
	<decisions>
		<name>isChangedDecision3_myRule_1_InclusionStage_c</name>
		<label>isChangedDecision3_myRule_1_InclusionStage_c</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>isChangedDecision7_myRule_6_InclusionStage_c</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>isChangedRule_3_myRule_1_InclusionStage_c</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>myVariable_old</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>myVariable_old.InclusionStage__c</leftValueReference>
				<operator>NotEqualTo</operator>
				<rightValue>
					<elementReference>myVariable_current.InclusionStage__c</elementReference>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>isChangedDecision7_myRule_6_InclusionStage_c</targetReference>
			</connector>
			<label>isChangedRule_3_myRule_1_InclusionStage_c</label>
		</rules>
	</decisions>
	<decisions>
		<name>isChangedDecision7_myRule_6_InclusionStage_c</name>
		<label>isChangedDecision7_myRule_6_InclusionStage_c</label>
		<locationX>0</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>myDecision</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>isChangedRule_7_myRule_6_InclusionStage_c</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<leftValueReference>myVariable_old</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<leftValueReference>myVariable_old.InclusionStage__c</leftValueReference>
				<operator>NotEqualTo</operator>
				<rightValue>
					<elementReference>myVariable_current.InclusionStage__c</elementReference>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myDecision</targetReference>
			</connector>
			<label>isChangedRule_7_myRule_6_InclusionStage_c</label>
		</rules>
	</decisions>
	<decisions>
		<processMetadataValues>
			<name>index</name>
			<value>
				<numberValue>0.0</numberValue>
			</value>
		</processMetadataValues>
		<name>myDecision</name>
		<label>myDecision</label>
		<locationX>50</locationX>
		<locationY>0</locationY>
		<defaultConnector>
			<targetReference>myDecision5</targetReference>
		</defaultConnector>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>myRule_1</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>myVariable_current.TAG_CreateContract__c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<stringValue>Ja</stringValue>
				</rightValue>
			</conditions>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>myVariable_current.InclusionStage__c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<stringValue>Avsluttet</stringValue>
				</rightValue>
			</conditions>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>isChangedRule_2_myRule_1_TAG_CreateContract_c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>isChangedRule_3_myRule_1_InclusionStage_c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myRule_1_A1</targetReference>
			</connector>
			<label>Create contract</label>
		</rules>
	</decisions>
	<decisions>
		<processMetadataValues>
			<name>index</name>
			<value>
				<numberValue>1.0</numberValue>
			</value>
		</processMetadataValues>
		<name>myDecision5</name>
		<label>myDecision5</label>
		<locationX>50</locationX>
		<locationY>0</locationY>
		<defaultConnectorLabel>default</defaultConnectorLabel>
		<rules>
			<name>myRule_6</name>
			<conditionLogic>and</conditionLogic>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>isChangedRule_7_myRule_6_InclusionStage_c</leftValueReference>
				<operator>EqualTo</operator>
				<rightValue>
					<booleanValue>true</booleanValue>
				</rightValue>
			</conditions>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Picklist</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>myVariable_current.InclusionStage__c</leftValueReference>
				<operator>NotEqualTo</operator>
				<rightValue>
					<stringValue>Ny henvendelse</stringValue>
				</rightValue>
			</conditions>
			<conditions>
				<processMetadataValues>
					<name>inputDataType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideReferenceTo</name>
					<value>
						<stringValue>Organization;User</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>leftHandSideType</name>
					<value>
						<stringValue>ID</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>operatorDataType</name>
					<value>
						<stringValue>String</stringValue>
					</value>
				</processMetadataValues>
				<processMetadataValues>
					<name>rightHandSideType</name>
					<value>
						<stringValue>Boolean</stringValue>
					</value>
				</processMetadataValues>
				<leftValueReference>myVariable_current.Owner:Queue.OwnerId</leftValueReference>
				<operator>IsNull</operator>
				<rightValue>
					<booleanValue>false</booleanValue>
				</rightValue>
			</conditions>
			<connector>
				<targetReference>myRule_6_A1</targetReference>
			</connector>
			<label>Change owner</label>
		</rules>
	</decisions>
	<formulas>
		<processMetadataValues>
			<name>originalFormula</name>
			<value>
				<stringValue>LEFT(

&quot;Samarbeidsavtale mellom &quot; + [CustomOpportunity__c].Account__c.Name + &quot; og &quot; + [CustomOpportunity__c].Owner:User.CompanyName 

, 80)
</stringValue>
			</value>
		</processMetadataValues>
		<name>formula_4_myRule_1_A1_9387081385</name>
		<dataType>String</dataType>
		<expression>LEFT(

&quot;Samarbeidsavtale mellom &quot; + {!myVariable_current.Account__r.Name} + &quot; og &quot; + {!myVariable_current.Owner:User.CompanyName} 

, 80)</expression>
	</formulas>
	<formulas>
		<processMetadataValues>
			<name>originalFormula</name>
			<value>
				<stringValue>$User.Id </stringValue>
			</value>
		</processMetadataValues>
		<name>formula_8_myRule_6_A1_0380067388</name>
		<dataType>String</dataType>
		<expression>{!$User.Id}</expression>
	</formulas>
	<interviewLabel>Opportunity-3_InterviewLabel</interviewLabel>
	<label>Opportunity Insert/Update</label>
	<processMetadataValues>
		<name>ObjectType</name>
		<value>
			<stringValue>CustomOpportunity__c</stringValue>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>ObjectVariable</name>
		<value>
			<elementReference>myVariable_current</elementReference>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>OldObjectVariable</name>
		<value>
			<elementReference>myVariable_old</elementReference>
		</value>
	</processMetadataValues>
	<processMetadataValues>
		<name>TriggerType</name>
		<value>
			<stringValue>onAllChanges</stringValue>
		</value>
	</processMetadataValues>
	<processType>Workflow</processType>
	<recordCreates>
		<name>myRule_1_A1</name>
		<label>Create Contract</label>
		<locationX>100</locationX>
		<locationY>200</locationY>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>String</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Contract Name</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue />
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Formula</stringValue>
				</value>
			</processMetadataValues>
			<field>Name</field>
			<value>
				<elementReference>formula_4_myRule_1_A1_9387081385</elementReference>
			</value>
		</inputAssignments>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Account</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue>Account</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Reference</stringValue>
				</value>
			</processMetadataValues>
			<field>TAG_Account__c</field>
			<value>
				<elementReference>myVariable_current.Account__c</elementReference>
			</value>
		</inputAssignments>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Contact</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue>Contact</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Reference</stringValue>
				</value>
			</processMetadataValues>
			<field>TAG_Contact__c</field>
			<value>
				<elementReference>myVariable_current.Contact__c</elementReference>
			</value>
		</inputAssignments>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Internal Contact</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue>User</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Reference</stringValue>
				</value>
			</processMetadataValues>
			<field>TAG_InternalContact__c</field>
			<value>
				<elementReference>myVariable_current.OwnerId</elementReference>
			</value>
		</inputAssignments>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Opportunity</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue>CustomOpportunity__c</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Reference</stringValue>
				</value>
			</processMetadataValues>
			<field>TAG_Opportunity__c</field>
			<value>
				<elementReference>myVariable_current.Id</elementReference>
			</value>
		</inputAssignments>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>Picklist</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Status</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue />
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Picklist</stringValue>
				</value>
			</processMetadataValues>
			<field>TAG_Status__c</field>
			<value>
				<stringValue>Utkast</stringValue>
			</value>
		</inputAssignments>
		<object>Contract__c</object>
	</recordCreates>
	<recordUpdates>
		<processMetadataValues>
			<name>evaluationType</name>
			<value>
				<stringValue>always</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>extraTypeInfo</name>
		</processMetadataValues>
		<processMetadataValues>
			<name>isChildRelationship</name>
			<value>
				<booleanValue>false</booleanValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>reference</name>
			<value>
				<stringValue>[CustomOpportunity__c]</stringValue>
			</value>
		</processMetadataValues>
		<processMetadataValues>
			<name>referenceTargetField</name>
		</processMetadataValues>
		<name>myRule_6_A1</name>
		<label>Change owner</label>
		<locationX>600</locationX>
		<locationY>200</locationY>
		<filters>
			<processMetadataValues>
				<name>implicit</name>
				<value>
					<booleanValue>true</booleanValue>
				</value>
			</processMetadataValues>
			<field>Id</field>
			<operator>EqualTo</operator>
			<value>
				<elementReference>myVariable_current.Id</elementReference>
			</value>
		</filters>
		<inputAssignments>
			<processMetadataValues>
				<name>dataType</name>
				<value>
					<stringValue>ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>isRequired</name>
				<value>
					<booleanValue>false</booleanValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideLabel</name>
				<value>
					<stringValue>Owner ID</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>leftHandSideReferenceTo</name>
				<value>
					<stringValue>Group;User</stringValue>
				</value>
			</processMetadataValues>
			<processMetadataValues>
				<name>rightHandSideType</name>
				<value>
					<stringValue>Formula</stringValue>
				</value>
			</processMetadataValues>
			<field>OwnerId</field>
			<value>
				<elementReference>formula_8_myRule_6_A1_0380067388</elementReference>
			</value>
		</inputAssignments>
		<object>CustomOpportunity__c</object>
	</recordUpdates>
	<startElementReference>isChangedDecision2_myRule_1_TAG_CreateContract_c</startElementReference>
	<status>Active</status>
	<variables>
		<name>myVariable_current</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>true</isOutput>
		<objectType>CustomOpportunity__c</objectType>
	</variables>
	<variables>
		<name>myVariable_old</name>
		<dataType>SObject</dataType>
		<isCollection>false</isCollection>
		<isInput>true</isInput>
		<isOutput>false</isOutput>
		<objectType>CustomOpportunity__c</objectType>
	</variables>
</Flow>