force-app/main/default/flows/SetUltimateParentAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_1st_parent_account</name>
        <label>Check for 1st parent account</label>
        <locationX>160</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Check_for_2nd_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 1st parent account</defaultConnectorLabel>
        <rules>
            <name>No_1st_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account</targetReference>
            </connector>
            <label>No 1st parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_2nd_parent_account</name>
        <label>Check for 2nd parent account</label>
        <locationX>435</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Check_for_3rd_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 2nd parent account</defaultConnectorLabel>
        <rules>
            <name>No_2nd_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_1st</targetReference>
            </connector>
            <label>No 2nd parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_3rd_parent_account</name>
        <label>Check for 3rd parent account</label>
        <locationX>731</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Check_for_4th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 3rd parent account</defaultConnectorLabel>
        <rules>
            <name>No_3rd_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_2nd</targetReference>
            </connector>
            <label>No 3rd parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_4th_parent_account</name>
        <label>Check for 4th parent account</label>
        <locationX>1001</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Check_for_5th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 4th parent account</defaultConnectorLabel>
        <rules>
            <name>No_4th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_3rd</targetReference>
            </connector>
            <label>No 4th parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_5th_parent_account</name>
        <label>Check for 5th parent account</label>
        <locationX>1231</locationX>
        <locationY>429</locationY>
        <defaultConnector>
            <targetReference>Check_for_6th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 5th parent account</defaultConnectorLabel>
        <rules>
            <name>No_5th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_4th</targetReference>
            </connector>
            <label>No 5th parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_6th_parent_account</name>
        <label>Check for 6th parent account</label>
        <locationX>1523</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_for_7th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 6th parent account</defaultConnectorLabel>
        <rules>
            <name>No_6th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_5th</targetReference>
            </connector>
            <label>No 6th parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_7th_parent_account</name>
        <label>Check for 7th parent account</label>
        <locationX>1754</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Check_for_8th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 7th parent account</defaultConnectorLabel>
        <rules>
            <name>No_7th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_6th</targetReference>
            </connector>
            <label>No 7th parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_8th_parent_account</name>
        <label>Check for 8th parent account</label>
        <locationX>1999</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Check_for_9th_parent_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 8th parent account</defaultConnectorLabel>
        <rules>
            <name>No_8th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_7th</targetReference>
            </connector>
            <label>No 8th parent account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_9th_parent_account</name>
        <label>Check for 9th parent account</label>
        <locationX>2219</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Update_ultimate_parent_account_9th</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have 9th parent account</defaultConnectorLabel>
        <rules>
            <name>No_9th_parent_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_ultimate_parent_account_8th</targetReference>
            </connector>
            <label>No 9th parent account</label>
        </rules>
    </decisions>
    <interviewLabel>Set ultimate parent account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set ultimate parent account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_ultimate_parent_account</name>
        <label>Update ultimate parent account</label>
        <locationX>171</locationX>
        <locationY>668</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_1st</name>
        <label>Update ultimate parent account 1st</label>
        <locationX>447</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_2nd</name>
        <label>Update ultimate parent account 2nd</label>
        <locationX>727</locationX>
        <locationY>651</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_3rd</name>
        <label>Update ultimate parent account 3rd</label>
        <locationX>991</locationX>
        <locationY>635</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_4th</name>
        <label>Update ultimate parent account 4th</label>
        <locationX>1243</locationX>
        <locationY>651</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_5th</name>
        <label>Update ultimate parent account 5th</label>
        <locationX>1533</locationX>
        <locationY>664</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_6th</name>
        <label>Update ultimate parent account 6th</label>
        <locationX>1768</locationX>
        <locationY>669</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_7th</name>
        <label>Update ultimate parent account 7th</label>
        <locationX>2005</locationX>
        <locationY>667</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_8th</name>
        <label>Update ultimate parent account 8th</label>
        <locationX>2243</locationX>
        <locationY>679</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ultimate_parent_account_9th</name>
        <label>Update ultimate parent account 9th</label>
        <locationX>2507</locationX>
        <locationY>412</locationY>
        <inputAssignments>
            <field>CRM_UltimateParentAccount__c</field>
            <value>
                <elementReference>$Record.Parent.Parent.Parent.Parent.Parent.Parent.Parent.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_for_1st_parent_account</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_UltimateParentAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
