force-app/main/default/flows/TAG_Workfare_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_amount_of_active_workfare_records</name>
        <label>Count amount of active workfare records</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_account.NumberOfWorkfare__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ActiveWorkfareCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_account_with_number_of_active_workfares</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TAG Workfare Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Workfare Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_active_workfares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_active_workfares</name>
        <label>Get active workfares</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_amount_of_active_workfare_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActiveWorkfare__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <object>ArenaActivity__c</object>
        <outputReference>ActiveWorkfareCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_with_number_of_active_workfares</name>
        <label>Update account with number of active workfares</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputReference>Get_account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aktivitetsgruppekode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TLTAK</stringValue>
            </value>
        </filters>
        <object>ArenaActivity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveWorkfareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ArenaActivity__c</objectType>
    </variables>
</Flow>
