force-app/main/default/flows/TAG_Create_Event_Call_to_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Toast_for_created_Event</name>
        <label>Toast for created Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Du har opprettet et møte</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Emne</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fcFlowToaster</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_ActivityType_Service_for_Forebygge</name>
        <label>Set ActivityType/Service for Forebygge og redusere fravær</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>themeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subThemeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Informasjon om NAVs tjenester</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ActivityType_Service_for_Hjelpemidler_og_tilrettelegging</name>
        <label>Set ActivityType/Service for 	Hjelpemidler og tilrettelegging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>themeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hjelpemidler og tilrettelegging</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subThemeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Informasjon</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_meeting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ActivityType_Service_for_rekruttere</name>
        <label>Set ActivityType/Service for rekruttere</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>themeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>subThemeToCreateEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apiNamesubThemeEvent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_meeting</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Informasjon</name>
        <choiceText>Informasjon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informasjon</stringValue>
        </value>
    </choices>
    <choices>
        <name>Informasjon_og_relasjonsbygging</name>
        <choiceText>Informasjon og relasjonsbygging</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Informasjon og relasjonsbygging</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inkludering_med_virkemidler_inkl_oppf_lging</name>
        <choiceText>Inkludering (med virkemidler, inkl. oppfølging)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inkludering (med virkemidler, inkl. oppfølging)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jobbmesser_og_m_teplass</name>
        <choiceText>Jobbmesser og møteplass</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jobbmesser og møteplass</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jobbst_tte_Jobbspesialist</name>
        <choiceText>Jobbstøtte (Jobbspesialist)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jobbstøtte (Jobbspesialist)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jobbutvikling_Jobbspesialist</name>
        <choiceText>Jobbutvikling (Jobbspesialist)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jobbutvikling (Jobbspesialist)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rekruttering_uten_virkemidler_inkl_oppf_lging</name>
        <choiceText>Rekruttering (uten virkemidler, inkl. oppfølging)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rekruttering (uten virkemidler, inkl. oppfølging)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Theme</name>
        <label>Which Theme?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Event_meeting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ingen</defaultConnectorLabel>
        <rules>
            <name>Rekruttere_og_inkludere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tema</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rekruttere og inkludere</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ActivityType_Service_for_rekruttere</targetReference>
            </connector>
            <label>Rekruttere og inkludere</label>
        </rules>
        <rules>
            <name>Forebygge_og_redusere_frav_r</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tema</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ActivityType_Service_for_Forebygge</targetReference>
            </connector>
            <label>Forebygge og redusere fravær</label>
        </rules>
        <rules>
            <name>Hjelpemidler_og_tilrettelegging</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tema</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hjelpemidler og tilrettelegging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ActivityType_Service_for_Hjelpemidler_og_tilrettelegging</targetReference>
            </connector>
            <label>Hjelpemidler og tilrettelegging</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceEventTheme</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAG_ActivityType__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceSetForEvent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAG_Theme__c</picklistField>
        <picklistObject>EmployerInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceTheme</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAG_ActivityType__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>apiNamesubThemeEvent</name>
        <dataType>String</dataType>
        <expression>IF( {!TjenesteRekruttere} = &quot;Jobbmesser og møteplasser&quot;, &quot;Jobbmesser og møteplass&quot;,
IF( {!TjenesteRekruttere} = &quot;Rekruttering (uten virkemidler, inkl. oppfølging)&quot;, &quot;Rekrutteringsoppdrag&quot;,
IF( {!TjenesteRekruttere} = &quot;Inkludering (med virkemidler, inkl. oppfølging)&quot;, &quot;Inkluderende rekruttering&quot;,
IF( {!TjenesteRekruttere} = &quot;Informasjon og relasjonsbygging&quot;, &quot;Informasjon om NAVs tjenester&quot;,
IF( {!TjenesteRekruttere} = &quot;Jobbutvikling (Jobbspesialist)&quot;, &quot;	IPS Jobbutvikling&quot;,
IF( {!TjenesteRekruttere} = &quot;Jobbstøtte (Jobbspesialist)&quot;, &quot;IPS Jobbstøtte&quot;,
null
))))))</expression>
    </formulas>
    <formulas>
        <name>picklistFormula</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Get_Employer_Inquiry.TAG_SubTheme__c}) = &quot;Jobbmesser og møteplass&quot;, &quot;Jobbmesser og møteplasser&quot;,
IF( TEXT({!Get_Employer_Inquiry.TAG_SubTheme__c}) = &quot;Rekruttering uten virkemidler&quot;, &quot;Rekrutteringsoppdrag&quot;,
IF( TEXT({!Get_Employer_Inquiry.TAG_SubTheme__c}) = &quot;Informasjon og relasjonsbygging&quot;, &quot;Informasjon om NAVs tjenester&quot;,
IF( TEXT({!Get_Employer_Inquiry.TAG_SubTheme__c}) = &quot;Inkludering med virkemidler&quot;, &quot;Inkluderende rekruttering&quot;,
IF( TEXT({!Get_Employer_Inquiry.TAG_SubTheme__c}) = &quot;Redusere sykefravær&quot;, &quot;Informasjon om NAVs tjenester&quot;,
NULL
)))))</expression>
    </formulas>
    <formulas>
        <name>picklistThemeFormula</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Get_Employer_Inquiry.TAG_Theme__c}) = &quot;Rekruttere og inkludere&quot;, &quot;Rekruttere og inkludere&quot;,
IF( TEXT({!Get_Employer_Inquiry.TAG_Theme__c}) = &quot;Forebygge og redusere fravær&quot;, &quot;Forebygge sykefravær og redusere frafall&quot;,
NULL
))</expression>
    </formulas>
    <formulas>
        <name>urlTask</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260}, FIND(&quot;.com&quot;, {!$Api.Enterprise_Server_URL_260}) + 3) &amp; &quot;/lightning/r/Task/&quot; &amp; {!taskRecordId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>TAG Create Event Call to Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Create Event Call to Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event_meeting</name>
        <label>Create Event (meeting)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Toast_for_created_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Kommentarer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>Slutt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <elementReference>P_minnelse_angitt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Event_recordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>P_minnelse_Dato_Tid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Emne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ActivityType__c</field>
            <value>
                <elementReference>themeToCreateEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_EmployerInquiry__c</field>
            <value>
                <elementReference>EmployerInquiry.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_service__c</field>
            <value>
                <elementReference>subThemeToCreateEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountRelated.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employer_Inquiry</name>
        <label>Get Employer Inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_recordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_recordTypeId</name>
        <label>Get Event recordTypeId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opprett_Mote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ArbeidsgiverEvent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Opprett_Mote</name>
        <label>Opprett Møte</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Theme</targetReference>
        </connector>
        <fields>
            <name>Detaljer_fra_henvendelse</name>
            <fieldText>Detaljer fra henvendelse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Detaljer_fra_henvendelse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetaljerLeftSide</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Henvendelse: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Employer_Inquiry.TAG_Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Detaljer_fra_henvendelse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetaljerRightSide</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;﻿Samtalereferat: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Employer_Inquiry.TAG_ClosingComment__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Lukkeårsak: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Employer_Inquiry.TAG_ClosedReason__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>OpprettNyOppgave</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Opprett nytt møte&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DetaljerDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Detaljer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opprett_Mote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opprett_Mote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountRelated</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Relatert til</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Employer_Inquiry.TAG_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>WhoId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Navn</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Employer_Inquiry.TAG_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmployerInquiry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Henvendelse</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Employer_Inquiry.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TAG_EmployerInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opprett_Mote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tema</name>
                    <choiceReferences>choiceEventTheme</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>picklistThemeFormula</elementReference>
                    </defaultValue>
                    <fieldText>Tema</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TjenesteRekruttere</name>
                    <choiceReferences>Jobbmesser_og_m_teplass</choiceReferences>
                    <choiceReferences>Rekruttering_uten_virkemidler_inkl_oppf_lging</choiceReferences>
                    <choiceReferences>Informasjon_og_relasjonsbygging</choiceReferences>
                    <choiceReferences>Inkludering_med_virkemidler_inkl_oppf_lging</choiceReferences>
                    <choiceReferences>Jobbutvikling_Jobbspesialist</choiceReferences>
                    <choiceReferences>Jobbst_tte_Jobbspesialist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Employer_Inquiry.TAG_SubTheme__c</elementReference>
                    </defaultValue>
                    <fieldText>Tjeneste</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tema</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rekruttere og inkludere</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TjenesteForebyge</name>
                    <choiceReferences>Informasjon_og_relasjonsbygging</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Informasjon_og_relasjonsbygging</defaultSelectedChoiceReference>
                    <fieldText>Tjeneste</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tema</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TjenesteHjelpemidler</name>
                    <choiceReferences>Informasjon</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Informasjon</defaultSelectedChoiceReference>
                    <fieldText>Tjeneste</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tema</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hjelpemidler og tilrettelegging</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>InstillingerDetaljer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Oppfølging&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opprett_Mote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opprett_Mote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emne</name>
                    <dataType>String</dataType>
                    <fieldText>Emne</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opprett_Mote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kommentarer</name>
            <fieldText>Kommentarer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Ikke skriv personopplysninger her.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ingen_brukeropplysninger</name>
            <dataType>Boolean</dataType>
            <fieldText>Ingen brukeropplysninger</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Bekreft at det ikke er skrevet sensitiv informasjon, eller opplysninger som kan knyttes til personbruker, i kommentarfeltet&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Vennligst bekreft at det Ikke er registrert sensitiv informasjon, eller opplysninger som kan knyttes til personbruker&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ingen_brukeropplysninger}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Opprett_Mote_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opprett_Mote_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Slutt</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Slutt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opprett_Mote_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Tildelt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>P_minnelse_angitt</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Påminnelse angitt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>P_minnelse_Dato_Tid</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Påminnelse Dato/Tid</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>P_minnelse_angitt</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Lagre</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employer_Inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subThemeToCreateEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>themeToCreateEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
