force-app/main/default/flows/TAG_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Due_Datetime</name>
        <label>Calculate Due Datetime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TAG_BusinessDaysHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_inquiry_details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TAG_BusinessDaysHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_inquiry_details</name>
        <label>Set inquiry details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Due_Datetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_theme_Forebygge</name>
        <label>Set theme Forebygge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Due_Datetime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_theme_Rekruttere</name>
        <label>Set theme Rekruttere</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Due_Datetime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_theme_Rekruttere_Ung</name>
        <label>Set theme Rekruttere+Ung</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ungdomsløftet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Due_Datetime</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Should_set_themes</name>
        <label>Should set themes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Calculate_Due_Datetime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forebygge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forebygge sykefravær</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_theme_Forebygge</targetReference>
            </connector>
            <label>Forebygge</label>
        </rules>
        <rules>
            <name>Rekruttere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skal ansette</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_theme_Rekruttere</targetReference>
            </connector>
            <label>Rekruttere</label>
        </rules>
        <rules>
            <name>Ungdomsloftet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ungdomsløftet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_theme_Rekruttere_Ung</targetReference>
            </connector>
            <label>Ungdomsloftet</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>inquiryTitleFormula</name>
        <dataType>String</dataType>
        <expression>TEXT( {!$Record.Source__c} ) &amp; &apos;:&apos; &amp; TEXT( {!$Record.ActivityType__c})</expression>
    </formulas>
    <interviewLabel>TAG Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Inquiry</name>
        <label>Update Inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_set_themes</targetReference>
        </connector>
        <object>TAG_Inquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedTheme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
