force-app/main/default/flows/TAG_Convert_To_Employer_Inquiries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Konverter_til_arbeidsgiverhenvendelser</name>
        <label>Konverter til arbeidsgiverhenvendelser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TAG_EmployerInquiryConversion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>convertCustomOpportunities</name>
            <value>
                <elementReference>Convert_CustomOpportunity_c_Y_N</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertNavTasks</name>
            <value>
                <elementReference>Convert_NavTask_c_Y_N</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createdOnOrAfter</name>
            <value>
                <elementReference>FromDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TAG_EmployerInquiryConversion</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <description>Oppretter henvendelser fra Nav oppgaver og Muligheter.
Brukt under overgang fra Nav oppgaver og Muligheter til Henvendelser.</description>
    <environments>Default</environments>
    <formulas>
        <name>Timestamp</name>
        <dataType>String</dataType>
        <expression>TEXT({!FromDate}) &amp;&apos;T00:00:00.000+02:00&apos;</expression>
    </formulas>
    <interviewLabel>TAG Convert To Employer Inquiries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Convert To Employer Inquiries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Konverter_til_arbeidsgiverhenvendelser</targetReference>
        </connector>
        <fields>
            <name>ConfirmText</name>
            <fieldText>&lt;p&gt;Dette vil starte konvertering av Nav Tasks og Custom Opportunities til Henvendelser.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Det gjøres &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;ingen endringer på Nav Tasks og Custom Opportunities&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;. Disse må endres manuelt eller via dataloader.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Om det allerede er konvertert en henvendelse fra en Nav Task eller Custom Opportunity så vil det ikke opprettes nye ved gjentatte kjøringer av flowen. &lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Trykk neste for å starte konvertering&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_variables</name>
        <label>Input variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <fields>
            <name>Input_variables_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_variables_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Convert_NavTask_c_Y_N</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Convert NavTask__c Y/N</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Convert_CustomOpportunity_c_Y_N</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Convert CustomOpportunity__c Y/N</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FromDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <dateValue>2026-01-01</dateValue>
                    </defaultValue>
                    <fieldText>From Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_variables_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplaySoql</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vis nyttige SOQL</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>På</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Av</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>opportunityQuery1</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Henvendelser opprettet via konvertering&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Konvertert fra Mulighet: &lt;/strong&gt;&lt;span style=&quot;font-family: courier; font-size: 12px;&quot;&gt;SELECT Id, Name, OwnerId, TAG_Account__c, TAG_Contact__c, TAG_Status__c, TAG_Message__c, TAG_NoPersonInformation__c, TAG_NavUnit__c, TAG_RelatedJobPosting__c, TAG_DueDateTime__c, TAG_DueDate__c, TAG_Source__c, TAG_Theme__c, TAG_SubTheme__c, TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c WHERE TAG_Converted_Custom_Opportunity__c!=NULL&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Konvertert fra Nav Task: &lt;/strong&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;SELECT Id, Name, OwnerId, TAG_Account__c, TAG_Message__c,TAG_DueDate__c,TAG_DueDateTime__c,TAG_NavUnit__c,TAG_Status__c,TAG_Theme__c,TAG_SubTheme__c,TAG_Source__c,TAG_RecievedDateTime__c, TAG_Converted_NAV_Task__c FROM EmployerInquiry__c WHERE TAG_Converted_NAV_Task__c!=NULL&lt;/span&gt;&lt;span style=&quot;font-family: courier; font-size: 12px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Konverterte Nav Tasks og Muligheter&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Nav Tasks:  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM NavTask__c WHERE Id IN (SELECT TAG_Converted_NAV_Task__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Muligheter: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: courier; font-size: 12px;&quot;&gt;SELECT Id FROM CustomOpportunity__c WHERE Id IN (SELECT TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ikke konverterte Nav Tasks og Muligheter&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Nav Tasks: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM NavTask__c             WHERE CRM_Status__c = &apos;Ny&apos; AND Recordtype.Name = &apos;Employer&apos; AND  CreatedDate &amp;gt;= {!Timestamp} AND Id NOT IN (SELECT TAG_Converted_NAV_Task__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Muligheter: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM CustomOpportunity__c WHERE RecordType.Name = &apos;Inclusion&apos; AND InclusionStage__c = &apos;Ny henvendelse&apos; AND Source__c IN (&apos;Kontaktskjema&apos;, &apos;Arbeidsplassen&apos;) AND CreatedDate &amp;gt;= &lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: courier; background-color: rgb(255, 255, 255);&quot;&gt;{!Timestamp}&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt; AND Id NOT IN (SELECT TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplaySoql.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Result_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Result_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Convert_NavTask_c_Y_N</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Convert_NavTask_c_Y_N</elementReference>
                    </defaultValue>
                    <fieldText>Convert NavTask__c Y/N</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Convert_CustomOpportunity_c_Y_N</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Convert_CustomOpportunity_c_Y_N</elementReference>
                    </defaultValue>
                    <fieldText>Convert CustomOpportunity__c Y/N</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_FromDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>FromDate</elementReference>
                    </defaultValue>
                    <fieldText>From Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Result_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmployerInquiryConversionResult</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Opprettet: &lt;/strong&gt;{!Konverter_til_arbeidsgiverhenvendelser.successCount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Feil: &lt;/strong&gt;{!Konverter_til_arbeidsgiverhenvendelser.errorCount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Feilmeldinger:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier; font-size: 12px;&quot;&gt;{!Konverter_til_arbeidsgiverhenvendelser.errorMessages}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplaySoql2</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>DisplaySoql.label</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <elementReference>DisplaySoql.messageToggleActive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <elementReference>DisplaySoql.messageToggleInactive</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SOQLs</name>
            <fieldText>&lt;h3&gt;&lt;strong&gt;Henvendelser opprettet via konvertering&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Konvertert fra Mulighet: &lt;/strong&gt;&lt;span style=&quot;font-family: courier; font-size: 12px;&quot;&gt;SELECT Id, Name, OwnerId, TAG_Account__c, TAG_Contact__c, TAG_Status__c, TAG_Message__c, TAG_NoPersonInformation__c, TAG_NavUnit__c, TAG_RelatedJobPosting__c, TAG_DueDateTime__c, TAG_DueDate__c, TAG_Source__c, TAG_Theme__c, TAG_SubTheme__c, TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c WHERE TAG_Converted_Custom_Opportunity__c!=NULL&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿Konvertert fra Nav Task: &lt;/strong&gt;&lt;span style=&quot;font-family: courier;&quot;&gt;SELECT Id, Name, OwnerId, TAG_Account__c, TAG_Message__c,TAG_DueDate__c,TAG_DueDateTime__c,TAG_NavUnit__c,TAG_Status__c,TAG_Theme__c,TAG_SubTheme__c,TAG_Source__c,TAG_RecievedDateTime__c, TAG_Converted_NAV_Task__c FROM EmployerInquiry__c WHERE TAG_Converted_NAV_Task__c!=NULL&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Konverterte Nav Tasks og Muligheter&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Nav Tasks:  &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM NavTask__c WHERE Id IN (SELECT TAG_Converted_NAV_Task__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Muligheter: &lt;/strong&gt;&lt;span style=&quot;font-family: courier; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;SELECT Id FROM CustomOpportunity__c WHERE Id IN (SELECT TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ikke konverterte Nav Tasks og Muligheter&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;&lt;strong&gt;Nav Tasks: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM NavTask__c             WHERE CRM_Status__c = &apos;Ny&apos; AND Recordtype.Name = &apos;Employer&apos; AND  CreatedDate &amp;gt;= {!Timestamp} AND Id NOT IN (SELECT TAG_Converted_NAV_Task__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Muligheter: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt;SELECT Id FROM CustomOpportunity__c WHERE RecordType.Name = &apos;Inclusion&apos; AND InclusionStage__c = &apos;Ny henvendelse&apos; AND Source__c IN (&apos;Kontaktskjema&apos;, &apos;Arbeidsplassen&apos;) AND CreatedDate &amp;gt;= &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: courier;&quot;&gt;{!Timestamp}&lt;/span&gt;&lt;span style=&quot;font-size: 12px; font-family: courier;&quot;&gt; AND Id NOT IN (SELECT TAG_Converted_Custom_Opportunity__c FROM EmployerInquiry__c)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisplaySoql2.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
