force-app/main/default/flows/TAG_Update_initial_activity_date_on_IA_Cooperations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Related_activity_found</name>
        <label>Related activity found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_activities_that_could_be_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Activity_Date.activityDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IA_Cooperation</targetReference>
            </connector>
            <label>Yes, found activities that could be related</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Feilmelding må ikke overskride størrelsen på feltet</description>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 32000)</expression>
    </formulas>
    <interviewLabel>TAG Update initial activity date on IA Cooperations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Update initial activity date on IA Cooperations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_IA_Cooperation</name>
        <label>Update IA Cooperation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_error_Update_IA_Cooperation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TAG_initial_activity_date__c</field>
            <value>
                <elementReference>Get_First_Activity_Date.activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Activity_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_initial_activity_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IACooperation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X7_days_after_record_creation</name>
            <connector>
                <targetReference>Get_First_Activity_Date</targetReference>
            </connector>
            <label>7 days after record creation</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_First_Activity_Date</name>
        <label>Get First Activity Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_activity_found</targetReference>
        </connector>
        <flowName>TAG_Get_First_Activity_Date</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>activityType</name>
            <value>
                <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>daysAfter</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>daysBefore</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceDate</name>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_error_Update_IA_Cooperation</name>
        <label>Log error: Update IA Cooperation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>FlowFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <elementReference>Get_First_Activity_Date.activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
