force-app/main/default/flows/TAG_Henvendelse_Change_Nav_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Copy_current_values</name>
        <label>Copy current values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>currentNavUnitName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.NavUnit__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_new_Nav_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_record_values</name>
        <label>Update record values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_selected_Nav_unit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_selected_Nav_unit.CRM_QueueId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <description>Brukes for at bruker skal kunne sende henvendelse til annet kontor. Endrer til valgt Nav enhet, endrer eier til kø og setter status til Ny igjen.</description>
    <environments>Default</environments>
    <interviewLabel>TAG Henvendelse Assignmen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Henvendelse Change Nav Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_selected_Nav_unit</name>
        <label>Get selected Nav unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_record_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Nav_Unit.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;h2&gt;Kunne ikke lagre endringene&lt;/h2&gt;&lt;p&gt;Vi forsøkte å lagre endringen, men systemet returnerte en feilmelding.&lt;/p&gt;&lt;p&gt;Dette kan være et midlertidig problem, så prøv gjerne igjen.&lt;/p&gt;&lt;p&gt;Hvis feilen dukker opp flere ganger, kontakt support og oppgi følgende:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma; font-size: 12px;&quot;&gt;FaultMessage: &lt;/span&gt;&lt;span style=&quot;font-family: tahoma; font-size: 12px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;RecordId: {!recordId.Id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;Input values: {!&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: tahoma;&quot;&gt;recordId&lt;/span&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;.NavUnit__c}, {!recordId.Stage__c}, {!recordId.OwnerId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_new_Nav_Unit</name>
        <label>Select new Nav Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_selected_Nav_unit</targetReference>
        </connector>
        <fields>
            <name>Current_nav_unit_display</name>
            <fieldText>&lt;p&gt;Nåværende Nav enhet&lt;/p&gt;&lt;p&gt;{!currentNavUnitName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_Nav_Unit</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NavUnit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Velg ny Nav enhet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>TAG_Inquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Selection_summary</name>
            <fieldText>&lt;p&gt;Når du trykker på lagre vil henvendelsen sendes til &lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Selected_Nav_Unit.recordName}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Status vil settes til &lt;strong&gt;{!recordId.Stage__c} &lt;/strong&gt;og om noen er tildelt denne henvendelsen så vil de fjernes&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Selected_Nav_Unit.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_current_values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentNavUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TAG_Inquiry__c</objectType>
    </variables>
</Flow>
