force-app/main/default/flows/TAG_Inquiry_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_assigned_date</name>
        <label>Set assigned date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.TAG_AssignedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Should_set_assign_date</name>
        <label>Should set assign date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inquiry_was_assigned_to_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_AssignedDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_assigned_date</targetReference>
            </connector>
            <label>Inquiry was assigned to user (first time)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClosedAfterDueDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.TAG_DueDate__c} &lt; {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>IsAssigned</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!$Record.Owner:User.Id}), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>RecievedOrCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISBLANK({!$Record.TAG_RecievedDateTime__c}), {!$Record.CreatedDate}, {!$Record.TAG_RecievedDateTime__c} )</expression>
    </formulas>
    <interviewLabel>TAG Inquiry Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Inquiry Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_set_assign_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmployerInquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedTheme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
