force-app/main/default/flows/TAG_Opportunties_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>ChoiceReportAccount</name>
        <choiceText>Arbeidsgiver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceReportOpportunity</name>
        <choiceText>Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>TypeNAVUnitName</name>
        <choiceText>NAV enhet navn</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>NAV Enhet</promptText>
        </userInput>
        <value>
            <elementReference>NAVUnit.Name</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Which_Report_Was_Selected</name>
        <label>Which Report Was Selected</label>
        <locationX>470</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Your_Report</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceReportOpportunity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunitiesscreen</targetReference>
            </connector>
            <label>Opportunities</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceOpportunityStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InclusionStage__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>TAG Opportunties Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Opportunties Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Opportunitiesscreen</name>
        <label>Opportunities</label>
        <locationX>698</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Tilbake</backButtonLabel>
        <fields>
            <name>display_report_icon</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://saas-platform-7268.scratch.lightning.force.com/lightning/r/Report/00O7Y000001vWYZUA2/view?fv0={!ChoiceOpportunityStage}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://saas-platform-7268.scratch.file.force.com/sfc/servlet.shepherd/version/download/0687Y000004uILR?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Rapportknapp.png&quot;&gt;Se Rapport&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Avslutt</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Report_Opportunity</name>
        <label>Select Report Opportunity</label>
        <locationX>501</locationX>
        <locationY>201</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Report_Was_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectionTitle</name>
            <fieldText>&lt;p&gt;Select Your Report&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Your_Report</name>
            <choiceReferences>ChoiceReportOpportunity</choiceReferences>
            <choiceReferences>ChoiceReportAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>*</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage</name>
            <choiceReferences>ChoiceOpportunityStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Your_Report</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceReportOpportunity</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NAV_Unit</name>
            <choiceReferences>TypeNAVUnitName</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>NAV Unit</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>NAV_Unit.selectedChoiceLabels</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Your_Report</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ChoiceReportAccount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Neste</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>363</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_Report_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NAVUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NavUnit__c</objectType>
    </variables>
</Flow>
