force-app/main/default/flows/TAG_Set_Inquiry_Date_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Due_Datetime</name>
        <label>Calculate Due Datetime</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TAG_BusinessDaysHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_inquiry_due_date</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Record.RecievedDateTime__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TAG_BusinessDaysHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Set_inquiry_details</name>
        <label>Set inquiry details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecievedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecievedOrCreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_due_date_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_inquiry_due_date</name>
        <label>Set inquiry due date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Due_Datetime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_set_resolved_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_resolved_fields</name>
        <label>Set resolved fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ResolvedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClosedAfterDueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClosedAfterDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_due_date_set</name>
        <label>Is due date set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Should_set_resolved_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_date_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DueDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Due_Datetime</targetReference>
            </connector>
            <label>Due date is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_set_resolved_date</name>
        <label>Should set resolved date?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_was_updated_to_resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fullført</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_resolved_fields</targetReference>
            </connector>
            <label>Stage was updated to resolved</label>
        </rules>
    </decisions>
    <description>Setter Due Date, Resolved Date og andre felt relevante for prosess og måling</description>
    <environments>Default</environments>
    <formulas>
        <name>ClosedAfterDueDate</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.DueDate__c} &lt; {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>RecievedOrCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>IF( ISBLANK({!$Record.RecievedDateTime__c}), {!$Record.CreatedDate}, {!$Record.RecievedDateTime__c} )</expression>
    </formulas>
    <interviewLabel>TAG Set Inquiry Date Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Set Inquiry Date Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Inquiry</name>
        <label>Update Inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_inquiry_details</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DueDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fullført</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecievedDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EmployerInquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_error</name>
        <label>Log error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Kunne ikke oppdatere datofelt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>SelectedTheme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
