force-app/main/default/flows/TAG_rerun_kafka_messages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>counts_kafka_messages</name>
        <label>counts kafka messages</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Kafka_meldinger_med_status_error</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oppdaterer_record_med_ny_status</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TAG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Rerun Kafka Messages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Sjekker om kafkameldingen har status &apos;error&apos; og om enten topic er ia-leveranse eller ia-sak</description>
        <name>Kafka_meldinger_med_status_error</name>
        <label>Kafka meldinger med status error</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counts_kafka_messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_record_med_Name_PO_Arbeidsgiver_Integrasjonsbruker.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>KafkaMessage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User_record_med_Name_PO_Arbeidsgiver_Integrasjonsbruker</name>
        <label>User record med Name PO Arbeidsgiver Integrasjonsbruker</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Kafka_meldinger_med_status_error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO Arbeidsgiver Integrasjonsbruker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Oppdaterer_record_med_ny_status</name>
        <label>Oppdaterer record med ny status</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>display_message_after_run_kafka_messages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_record_med_Name_PO_Arbeidsgiver_Integrasjonsbruker.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>KafkaMessage__c</object>
    </recordUpdates>
    <screens>
        <name>display_message_after_run_kafka_messages</name>
        <label>display message after run kafka messages</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>antall_meldinger_run</name>
            <fieldText>&lt;p&gt;{!counter} meldinger har blitt kjørt på nytt&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>kjor_feilede_Kafka_meldinger</name>
        <label>Kjør feilede Kafka-meldinger</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_record_med_Name_PO_Arbeidsgiver_Integrasjonsbruker</targetReference>
        </connector>
        <fields>
            <name>tag_failed_msg_text</name>
            <fieldText>&lt;p&gt;Hvis kafkameldinger mislykkes, vil de dukke oppe i listen over. Prøv å kjør de på nytt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Kjør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>kjor_feilede_Kafka_meldinger</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>teller antall ganger loopen har kjørt  -&gt; antall kafkameldinger</description>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
