force-app/main/default/flows/TAG_Candidate_Outcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Count_returned_presented_records</name>
        <label>Count returned presented records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countedPresentedEmploymentPlacement</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_presented_empl_plac_for_related_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_Account_with_Presented_emp_plac</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_returned_records</name>
        <label>Count returned records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countedEmploymentPlacement</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_employment_placement_for_related_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_related_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Nav_unit_null</name>
        <label>Is Nav unit null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>What_category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Nav_unit_is_null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NavUnitNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NavUnit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NavUnit__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Nav_unit</targetReference>
            </connector>
            <label>Yes Nav unit is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_result_Not_Presented</name>
        <label>Is result Not Presented?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Delete_triggering_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IKKE_PRESENTERT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Posting</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Presented_or_hired</name>
        <label>Presented or hired?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Candidate_Outcome_presented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Presented</defaultConnectorLabel>
        <rules>
            <name>Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FATT_JOBBEN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_Outcome_hired</targetReference>
            </connector>
            <label>Hired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_job_posting_found</name>
        <label>Was job posting found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Nav_unit_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No job posting found</defaultConnectorLabel>
        <rules>
            <name>Yes_is_related_to_Account</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Posting.OrganizationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.OrganizationNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.UUID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_account</targetReference>
            </connector>
            <label>Yes and related to Account</label>
        </rules>
        <rules>
            <name>Yes_and_not_related_to_Account</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Posting.OrganizationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.OrganizationNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Posting.UUID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_Outcome_without_Account</targetReference>
            </connector>
            <label>Yes and not related to Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_category</name>
        <label>What category?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formidling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORMIDLING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_type_etterregistrering</targetReference>
            </connector>
            <label>Formidling</label>
        </rules>
        <rules>
            <name>Stilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STILLING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_type_stillingsoppdrag</targetReference>
            </connector>
            <label>Stilling</label>
        </rules>
        <rules>
            <name>Jobbmesse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JOBBMESSE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_type_jobbmesse</targetReference>
            </connector>
            <label>Jobbmesse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Candidate Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Candidate Outcome</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_triggering_record</name>
        <label>Delete triggering record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Presented_or_hired</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_OrganizationNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Posting.OrganizationNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_employment_placement_for_related_account</name>
        <label>Get employment placement for related account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_returned_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FATT_JOBBEN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Duplicate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CandidateOutcome__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Posting</name>
        <label>Get Job Posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_job_posting_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.JobPostingId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_unit</name>
        <label>Get Nav unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Nav_unit_for_candidate_outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NavUnitNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_presented_empl_plac_for_related_account</name>
        <label>Get presented empl.plac for related account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_returned_presented_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account2__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRESENTERT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Duplicate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CandidateOutcome__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Nav_unit_for_candidate_outcome</name>
        <label>Set Nav unit for candidate outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_category</targetReference>
        </connector>
        <inputAssignments>
            <field>NavUnit__c</field>
            <value>
                <elementReference>Get_Nav_unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_type_etterregistrering</name>
        <label>Set type etterregistrering</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Etterregistrering</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_type_jobbmesse</name>
        <label>Set type jobbmesse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Jobbmesse</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_type_stillingsoppdrag</name>
        <label>Set type stillingsoppdrag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Stillingsoppdrag</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_Outcome_hired</name>
        <label>Update Candidate Outcome hired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_employment_placement_for_related_account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account2__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementType__c</field>
            <value>
                <elementReference>Get_Job_Posting.EngagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extent__c</field>
            <value>
                <elementReference>Get_Job_Posting.Extent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsJobPostingFound__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPostingStatus__c</field>
            <value>
                <elementReference>Get_Job_Posting.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPosting__c</field>
            <value>
                <elementReference>Get_Job_Posting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrganizationNumber__c</field>
            <value>
                <elementReference>Get_Job_Posting.OrganizationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Job_Posting.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_Job_Posting.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_Outcome_presented</name>
        <label>Update Candidate Outcome presented</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_presented_empl_plac_for_related_account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account2__c</field>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementType__c</field>
            <value>
                <elementReference>Get_Job_Posting.EngagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extent__c</field>
            <value>
                <elementReference>Get_Job_Posting.Extent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsJobPostingFound__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPostingStatus__c</field>
            <value>
                <elementReference>Get_Job_Posting.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPosting__c</field>
            <value>
                <elementReference>Get_Job_Posting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrganizationNumber__c</field>
            <value>
                <elementReference>Get_Job_Posting.OrganizationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Job_Posting.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_Job_Posting.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_Outcome_without_Account</name>
        <label>Update Candidate Outcome without Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Nav_unit_null</targetReference>
        </connector>
        <inputAssignments>
            <field>EngagementType__c</field>
            <value>
                <elementReference>Get_Job_Posting.EngagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extent__c</field>
            <value>
                <elementReference>Get_Job_Posting.Extent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsJobPostingFound__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPostingStatus__c</field>
            <value>
                <elementReference>Get_Job_Posting.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPosting__c</field>
            <value>
                <elementReference>Get_Job_Posting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrganizationNumber__c</field>
            <value>
                <elementReference>Get_Job_Posting.OrganizationNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_Job_Posting.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_Job_Posting.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Account</name>
        <label>Update related Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Nav_unit_null</targetReference>
        </connector>
        <inputAssignments>
            <field>TAG_NumberOfEmploymentPlacement__c</field>
            <value>
                <elementReference>countedEmploymentPlacement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_Account_with_Presented_emp_plac</name>
        <label>Update related Account with Presented emp.plac</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Nav_unit_null</targetReference>
        </connector>
        <inputAssignments>
            <field>TAG_NumberOfEmploymentPlacementPresented__c</field>
            <value>
                <elementReference>countedPresentedEmploymentPlacement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_result_Not_Presented</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CandidateOutcome__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countedDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countedEmploymentPlacement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countedPresentedEmploymentPlacement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CandidateOutcome__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CandidateOutcome__c</objectType>
    </variables>
</Flow>
