force-app/main/default/flows/TAG_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_IA_Case_Number_blank</name>
        <label>Is IA Case Number blank?</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Yes_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_IACaseNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_IACaseNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IA_case</targetReference>
            </connector>
            <label>Yes is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IA_priority</name>
        <label>Is IA priority?</label>
        <locationX>776</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Not IA priority</defaultConnectorLabel>
        <rules>
            <name>Yes_IA_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_ActivityType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prioritert IA (Fia)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_latest_IA_priority_task</targetReference>
            </connector>
            <label>Yes IA priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_to_Account</name>
        <label>Is Related to Account?</label>
        <locationX>776</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Is_IA_priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_dummy_account_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Activity_Date</name>
        <label>Update Activity Date</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Related_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activity Date is not null</defaultConnectorLabel>
        <rules>
            <name>Activity_Date_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isActivityDateNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Activity_Date_to_today</targetReference>
            </connector>
            <label>Activity Date is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type</label>
        <locationX>446</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IA_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA_task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IA_Cooperation</targetReference>
            </connector>
            <label>IA Task</label>
        </rules>
        <rules>
            <name>AG_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArbeidsgiverTask</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IA_Case_Number_blank</targetReference>
            </connector>
            <label>AG Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isActivityDateNull</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL ( {!$Record.ActivityDate} ) &amp;&amp; ({!$Record.ActivityDate} &gt;TODAY()) ||  ISCHANGED({!$Record.Status} ) &amp;&amp; ISPICKVAL({!$Record.Status} , &apos;Completed&apos;)  &amp;&amp; {!$Permission.Arbeidsgiver}  &amp;&amp; ({!$Record.ActivityDate} &gt;TODAY())</expression>
    </formulas>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>TAG Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_dummy_account_Id</name>
        <label>Get dummy account Id</label>
        <locationX>644</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AccountOrgType2_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kontakter uten konto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_case</name>
        <label>Get IA case</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_IA_Case_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Case_via_Cooperation</name>
        <label>Get IA Case via Cooperation</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Number_ID_Theme_Subtheme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IA_Cooperation.IACase__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Cooperation</name>
        <label>Get IA Cooperation</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IA_Case_via_Cooperation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACooperation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_IA_priority_task</name>
        <label>Get latest IA priority task</label>
        <locationX>446</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prioritert IA (Fia)</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Activity_Date_to_today</name>
        <label>Set Activity Date to today</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Related_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Number_ID_Theme_Subtheme</name>
        <label>Set Case Number, ID, Theme, Subtheme</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>IACase__c</field>
            <value>
                <elementReference>Get_IA_Case_via_Cooperation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IASubtheme__c</field>
            <value>
                <elementReference>$Record.IASubthemes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACaseNumber__c</field>
            <value>
                <elementReference>Get_IA_Case_via_Cooperation.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACooperationId__c</field>
            <value>
                <elementReference>Get_IA_Cooperation.CooperationId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_service__c</field>
            <value>
                <elementReference>$Record.IATheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_IA_Case_Number</name>
        <label>Set IA Case Number</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <inputAssignments>
            <field>IACase__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACaseNumber__c</field>
            <value>
                <elementReference>Get_IA_case.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>446</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToAccount__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_LastTaskDate__c</field>
            <value>
                <elementReference>Get_latest_IA_priority_task.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AccountOrgType2_field</name>
        <label>Update AccountOrgType2 field</label>
        <locationX>644</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Is_IA_priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_dummy_account_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_AccountOrgType2__c</field>
            <value>
                <elementReference>$Record.Account.CRM_AccountType__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Activity_Date</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
