force-app/main/default/flows/TAG_CreateOpportunityfromRekrutteringshjelp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_candidate_outcome_record_to_collection</name>
        <label>Add candidate outcome record to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CandidateOutcomeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_through_candidate_outcome_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_candidate_outcome_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_for_candidate_outcome</name>
        <label>Assign values for candidate outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Run_through_candidate_outcome_list.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Run_through_candidate_outcome_list.EngagementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EngagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Run_through_candidate_outcome_list.Extent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Extent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Run_through_candidate_outcome_list.JobPosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Run_through_candidate_outcome_list.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_candidate_outcome_record_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Opportunities_already</name>
        <label>Are there Opportunities already?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_updated_to_RecruitmentAssistance</name>
        <label>Created or updated to RecruitmentAssistance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated_to_Rekrutteringshjelp_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecruitmentAssistance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecruitmentAssistance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Updated to Rekrutteringshjelp True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recruitment_assistance</name>
        <label>Is recruitment assistance?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_status_stopped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not recruitment assistance</defaultConnectorLabel>
        <rules>
            <name>Yes_is_recruitment_assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stillingsregistrering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecruitmentAssistance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>STOPPED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_or_updated_to_RecruitmentAssistance</targetReference>
            </connector>
            <label>Yes is recruitment assistance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_related_candidate_outcome_list_empty</name>
        <label>Is related candidate outcome list empty?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Yes list is empty</defaultConnectorLabel>
        <rules>
            <name>No_list_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_candidate_outcome</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_through_candidate_outcome_list</targetReference>
            </connector>
            <label>No list has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_stopped</name>
        <label>Is status stopped?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_related_candidate_outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status and account is correct</defaultConnectorLabel>
        <rules>
            <name>Status_is_stopped_and_account_is_not_null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STOPPED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_account_from_job_posting</targetReference>
            </connector>
            <label>Status is stopped and account is not null</label>
        </rules>
        <rules>
            <name>Status_not_stopped_and_account_is_null</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>STOPPED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_account</targetReference>
            </connector>
            <label>Status not stopped and account is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Account</name>
        <label>Is there Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inclusion_Record_Type_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotesWithTlfNumber</name>
        <dataType>String</dataType>
        <expression>&quot;Henvendelse fra Arbeidsplassen.no: Arbeidsgiver ønsker rekrutteringshjelp i forbindelse med en konkret stilling (se lenke over). Vennligst kontakt arbeidsgiver på telefonnummer &quot; &amp; {!$Record.RecruitmentPhone__c} &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>TAG Create Opportunity from Rekrutteringshjelp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Job Posting</label>
    <loops>
        <name>Run_through_candidate_outcome_list</name>
        <label>Run through candidate outcome list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_related_candidate_outcome</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_for_candidate_outcome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_candidate_outcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <stringValue>Rekrutteringshjelp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NotesWithTlfNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Nav_Unit.CRM_QueueId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inclusion_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Arbeidsplassen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_JobPosting__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>Get_Nav_Unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_No_person_information__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_OrganizationNameFromForm__c</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_UltimateSource__c</field>
            <value>
                <stringValue>Arbeidsplassen.no</stringValue>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inclusion_Record_Type_Id</name>
        <label>Get Inclusion Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nav_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inclusion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Unit</name>
        <label>Get Nav Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.TAG_NavUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Opportunities_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_JobPosting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_account</name>
        <label>Get related account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_account_to_job_posting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_OrganizationNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrganizationNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_candidate_outcome</name>
        <label>Get related candidate outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_related_candidate_outcome_list_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPostingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CandidateOutcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_account_to_job_posting</name>
        <label>Add account to job posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_candidate_outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_related_account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_account_from_job_posting</name>
        <label>Remove account from job posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_candidate_outcome</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_candidate_outcome</name>
        <label>Update candidate outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CandidateOutcomeCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_recruitment_assistance</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>REJECTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DELETED</stringValue>
            </value>
        </filters>
        <object>JobPosting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateOutcomeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CandidateOutcome__c</objectType>
    </variables>
</Flow>
