force-app/main/default/flows/TAG_Webform_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Contribute_to_employment_of_youth</name>
        <label>Contribute to employment of youth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ungdomsløftet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ønsker å bidra til ungdomsløftet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>webMessageYouth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Help_prevent_sickleave</name>
        <label>Help prevent sickleave</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forebygge sykefravær og redusere frafall</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ønsker hjelp til å forebygge sykefravær</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>webMessageSickLeave</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Help_regarding_inclusion</name>
        <label>Help regarding inclusion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rekruttere og inkludere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ønsker hjelp til å rekruttere og inkludere arbeidstakere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>webMessageInclude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inquiry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_source_and_topic</name>
        <label>Determine source and topic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>web_prevent_sickleave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Forebygge sykefravær</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Help_prevent_sickleave</targetReference>
            </connector>
            <label>web+prevent sickleave</label>
        </rules>
        <rules>
            <name>web_inclusion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skal ansette</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Help_regarding_inclusion</targetReference>
            </connector>
            <label>web+inclusion</label>
        </rules>
        <rules>
            <name>web_youth_employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WebFormTheme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ungdomsløftet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contribute_to_employment_of_youth</targetReference>
            </connector>
            <label>web+youth employment</label>
        </rules>
    </decisions>
    <description>Setter tittel og melding på henvendelser opprettet via kontaktskjema</description>
    <environments>Default</environments>
    <interviewLabel>TAG Webform Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Webform Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Inquiry</name>
        <label>Update Inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_source_and_topic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kontaktskjema</stringValue>
            </value>
        </filters>
        <object>EmployerInquiry__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Log_error</name>
        <label>Log error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Kunne ikke oppdatere henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>webMessageInclude</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Henvendelse via kontaktskjema: Arbeidsgiver ønsker hjelp til å rekruttere og inkludere arbeidstakere. Vennligst kontakt arbeidsgiver på telefonnummer {!$Record.Contact__r.MobilePhone}.</text>
    </textTemplates>
    <textTemplates>
        <name>webMessageSickLeave</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Henvendelse via kontaktskjema: Arbeidsgiver ønsker hjelp til å forebygge sykefravær. Vennligst kontakt arbeidsgiver på telefonnummer {!$Record.Contact__r.MobilePhone}.</text>
    </textTemplates>
    <textTemplates>
        <name>webMessageYouth</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Henvendelse via kontaktskjema: Arbeidsgiver ønsker å bidra til ungdomsløftet. Vennligst kontakt arbeidsgiver på telefonnummer {!$Record.Contact__r.MobilePhone}.</text>
    </textTemplates>
    <variables>
        <name>SelectedTheme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
