force-app/main/default/flows/TAG_Contract_Old_Agreement_Type_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_update_request</name>
        <label>Send update request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_reminder_sent_date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Create_Application_Log_Flow_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InternalContactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>do-not-reply@nav.no</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bedriftsavtale må oppdateres til nytt rammeverk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_to_colection</name>
        <label>Add to colection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalContactEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_contracts.TAG_InternalContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_contracts.TAG_InternalContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contracts.TAG_Expiration_Reminder_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timestampNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemindedContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_contracts_was_found</name>
        <label>Check if contracts was found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contracts_marked_for_update</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_contracts</targetReference>
            </connector>
            <label>Found contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_that_internal_contact_email_exists</name>
        <label>Check that internal contact email exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_contracts.TAG_InternalContact__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_colection</targetReference>
            </connector>
            <label>Email exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_recipient_list_is_not_empty</name>
        <label>Verify recipient list is not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalContactEmails</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_update_request</targetReference>
            </connector>
            <label>Emails found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>finalEndDate</name>
        <dataType>Date</dataType>
        <expression>DATE(2025, 11, 30)</expression>
    </formulas>
    <formulas>
        <description>Logging of flow error in application log could fail if the flow fault message exceeds number of characters allowed. Reduce size of flow fault message to avoid errors.</description>
        <name>Flowfaultmessage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 1000)</expression>
    </formulas>
    <formulas>
        <name>timestampNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>updatePageUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; &apos;lightning/o/Contract__c/list?filterName=Mine_bedriftsavtaler_Gammel_type&apos;</expression>
    </formulas>
    <formulas>
        <name>x13_days_ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 13</expression>
    </formulas>
    <interviewLabel>TAG Contract Notify Old Agreement Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Contract Old Agreement Type Notification</label>
    <loops>
        <name>Loop_contracts</name>
        <label>Loop contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_contracts_marked_for_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_that_internal_contact_email_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_recipient_list_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contracts_marked_for_update</name>
        <label>Get contracts marked for update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contracts_was_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 ) AND 5 AND 6 AND 7 AND (8 OR 9)</filterLogic>
        <filters>
            <field>TAG_InternalContact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rekrutteringsavtale</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IA-avtale</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inkluderingsavtale (Arbeidsgiver)</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Godkjent</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_EndDate__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>finalEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_Expiration_Reminder_Send_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Expiration_Reminder_Send_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>x13_days_ago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get recordtype</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contracts_marked_for_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployerAgreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_reminder_sent_date</name>
        <label>Update reminder sent date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Flow_Create_Application_Log_Flow_2</targetReference>
        </faultConnector>
        <inputReference>RemindedContracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-10-06</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Create_Application_Log_Flow_1</name>
        <label>Flow Create Application Log Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>Flowfaultmessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>TAG Contract Old Agreement Type Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Send contract update reminder failed.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Create_Application_Log_Flow_2</name>
        <label>Flow Create Application Log Flow 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>Flowfaultmessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>TAG Contract Old Agreement Type Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Failed to update contract reminder send date.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Bedriftsavtale må oppdateres til nytt rammeverk</description>
        <name>NotificationText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei,&lt;/p&gt;&lt;p&gt;Dette er et automatisk varsel fra Salesforce Arbeidsgiver.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;VIKTIG: Bedriftsavtaler må oppdateres innen 30. november 2025.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Du mottar denne varslingen fordi du er ansvarlig for en eller flere bedriftsavtaler som må oppdateres til vårt nye rammeverk.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Hva betyr dette for deg?&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Avtalekategorier i &lt;/span&gt;Salesforce Arebidsgiver er endret så de samsvarer med &lt;a href=&quot;https://navno.sharepoint.com/sites/fag-og-ytelser-arbeid-markedsarbeid/SitePages/Rammeverk-for-tjenester-til-arbeidsgivere.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Rammeverk for tjenester til arbeidsgivere&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Eksisterende avtaler må oppdateres for å fortsette å være gyldige&lt;/li&gt;&lt;li&gt;Avtaler som ikke oppdateres innen 30. november 2025 vil automatisk avsluttes&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Hva må du gjøre?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;1. Gå til oversikten over avtaler som må oppdateres: &quot;&lt;a href=&quot;{!updatePageUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mine bedriftsavtaler - Gammel type&lt;/a&gt;&quot;&lt;/p&gt;&lt;p&gt;2. For hver avtale som fortsatt er aktuell:&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;- Oppdater avtaletype til enten &quot;Markedssamarbeid&quot; eller &quot;Strategisk partneravtale&quot;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;- Kontroller og oppdater utløpsdato ved behov&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;- Fyll ut eventuelle påkrevde felter som systemet ber om&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ved spørsmål om oppfølging av bedriftsavtaler, ta kontakt med din nærmeste leder eller teamleder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Med vennlig hilsen,&lt;/p&gt;&lt;p&gt;Nav Salesforce Arbeidsgiver&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InternalContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemindedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
</Flow>
