force-app/main/default/flows/TAG_Create_EmployerInquiry_AgTlf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calculate_Due_Date</name>
        <label>Calculate Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TAG_BusinessDaysHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TAG_BusinessDaysHandler</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>dueDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Toast_Created_Note</name>
        <label>Toast Created Note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Du har opprettet et samtalenotat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OutcomeThemeScreen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fcFlowToaster</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Toast_Created_Task</name>
        <label>Toast Created Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Du har opprettet en oppgave</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OutcomeThemeScreen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:fcFlowToaster</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Save_text_from_conversation_note</name>
        <label>Save text from conversation note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OutcomeTextComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text.conversationNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_it_Task_to_local_NavUnit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NavUnit_error</name>
        <label>Set NavUnit error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorNavUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Valgt Nav-enhet &quot;{!NavUnitName}&quot; kan foreløpig ikke motta oppgaver i Salesforce. Vennligst velg en annen Nav-enhet.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opprett_et_samtalenotat</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_Task_to_local_NavUnit</name>
        <label>Is it Task to local NavUnit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Nav_Unit_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Nav_Unit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_queue_for_Nav_Unit</name>
        <label>Is there queue for NavUnit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_EmployerInquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NavUnitQueue</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NavUnitQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NavUnit_error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Screen flow som brukes av NKS Arbeidsgiver Telefon (kontaktsenteret) for å opprette henvendelser (EmployerInquiry__c) under en telefonsamtale. Flowen dekker to behov:
- Samtalenotat: Dokumenterer samtaler som ble løst umiddelbart (f.eks. rådgivning). Opprettes som fullført henvendelse for statistikk og historikk med innlogget bruker som eier.
- Oppgave til lokalt kontor: Når veilederen ikke kan løse saken selv, sendes den som oppgave til Nav-enhet. Eier settes til Nav-enhetens kø, status ny henvendelse og svarfrist på 2 dager.</description>
    <dynamicChoiceSets>
        <name>SubthemeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAG_SubTheme__c</picklistField>
        <picklistObject>EmployerInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThemeChoiuceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TAG_Theme__c</picklistField>
        <picklistObject>EmployerInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EnquiryTitleBasedOnTheme</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!OutcomeThemeScreen}, &quot;Rekruttere og inkludere&quot;),
  &quot;Ønsker hjelp til å rekruttere og inkludere arbeidstakere&quot;,
  IF(
    ISPICKVAL({!OutcomeThemeScreen}, &quot;Forebygge og redusere fravær&quot;),
    &quot;Ønsker hjelp til å forebygge og redusere sykefravær&quot;,
    &quot;&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>LastTextOrSavedText</name>
        <dataType>String</dataType>
        <expression>IF({!OutcomeTextComments} = null, {!Text.conversationNote}, {!OutcomeTextComments})</expression>
    </formulas>
    <formulas>
        <name>navUnitArbeidslivsenterName</name>
        <dataType>String</dataType>
        <expression>IF({!navUnitRegionFromAccount} = &quot;Øst-Viken&quot;, &quot;NAV Arbeidslivssenter Øst-Viken&quot;,
IF({!navUnitRegionFromAccount} = &quot;Oslo&quot;, &quot;NAV Arbeidslivssenter Oslo&quot;,
IF({!navUnitRegionFromAccount} = &quot;Innlandet&quot;, &quot;NAV Arbeidslivssenter Innlandet&quot;,
IF({!navUnitRegionFromAccount} = &quot;Vest-Viken&quot;, &quot;NAV Arbeidslivssenter Vest-Viken&quot;,
IF({!navUnitRegionFromAccount} = &quot;Vestfold og Telemark&quot;, &quot;NAV Arbeid og helse Vestfold og Telemark&quot;,
IF({!navUnitRegionFromAccount} = &quot;Agder&quot;, &quot;NAV Arbeidslivssenter Agder&quot;,
IF({!navUnitRegionFromAccount} = &quot;Rogaland&quot;, &quot;NAV Arbeidslivssenter Rogaland&quot;,
IF({!navUnitRegionFromAccount} = &quot;Vestland&quot;, &quot;NAV Arbeidslivssenter Vestland&quot;,
IF({!navUnitRegionFromAccount} = &quot;Møre og Romsdal&quot;, &quot;NAV Arbeidslivssenter Møre og Romsdal&quot;,
IF({!navUnitRegionFromAccount} = &quot;Nordland&quot;, &quot;NAV Arbeidslivssenter Nordland&quot;,
IF({!navUnitRegionFromAccount} = &quot;Troms og Finnmark&quot;, &quot;NAV Arbeidslivssenter Troms og Finnmark&quot;,
IF({!navUnitRegionFromAccount} = &quot;Trøndelag&quot;, &quot;NAV Arbeidslivssenter Trøndelag&quot;,
NULL
))))))))))))</expression>
    </formulas>
    <interviewLabel>TAG Test EmployerInquiry flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Create EmployerInquiry AgTlf</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conversation_Note_EmployerInquiry</name>
        <label>Create Conversation Note (EmployerInquiry)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Toast_Created_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Telefonsamtale NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ClosedReason__c</field>
            <value>
                <stringValue>Fikk rådgivning/svar på det de lurte på</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_DueDateTime__c</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_DueDate__c</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IsConversationNote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Message__c</field>
            <value>
                <elementReference>Text.conversationNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>accountNavUnitId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_RecievedDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_ResolvedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Source__c</field>
            <value>
                <stringValue>Kontaktsenteret</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Status__c</field>
            <value>
                <stringValue>Fullført</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_SubTheme__c</field>
            <value>
                <elementReference>OutcomeSubThemeScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Theme__c</field>
            <value>
                <elementReference>OutcomeThemeScreen</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EmployerInquiry</name>
        <label>Create EmployerInquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Toast_Created_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EnquiryTitleBasedOnTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NavUnitQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_DueDateTime__c</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_DueDate__c</field>
            <value>
                <elementReference>dueDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Message__c</field>
            <value>
                <elementReference>Text.conversationNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>NavEnhet.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_RecievedDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Source__c</field>
            <value>
                <stringValue>Kontaktsenteret</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Status__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_SubTheme__c</field>
            <value>
                <elementReference>OutcomeSubThemeScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Theme__c</field>
            <value>
                <elementReference>OutcomeThemeScreen</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NavUnit_Arbeidslivssenter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>navUnitRegionFromAccount</assignToReference>
            <field>NAV_Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountNavUnitId</assignToReference>
            <field>TAG_NavUnit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Unit</name>
        <label>Get Nav Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_queue_for_Nav_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NavEnhet.recordId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>NavUnitQueue</assignToReference>
            <field>CRM_QueueId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NavUnitName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Unit_from_Account</name>
        <label>Get Nav Unit from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Conversation_Note_EmployerInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountNavUnitId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>NavUnitQueue</assignToReference>
            <field>CRM_QueueId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_NavUnit_Arbeidslivssenter</name>
        <label>Get NavUnit Arbeidslivssenter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opprett_et_samtalenotat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>navUnitArbeidslivsenterName</elementReference>
            </value>
        </filters>
        <filters>
            <field>isActiveUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>accountNavArbeidslivssenterId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>accountNavArbeidslivssenterName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Opprett_et_samtalenotat</name>
        <label>Opprett et samtalenotat</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_text_from_conversation_note</targetReference>
        </connector>
        <fields>
            <name>TopText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Opprett et samtalenotat&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DependantPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Tema</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>EmployerInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>TAG_Theme__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>TAG_SubTheme__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Tjeneste</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>OutcomeThemeScreen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>OutcomeSubThemeScreen</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OutcomeThemeScreen</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OutcomeSubThemeScreen</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Text</name>
            <extensionName>c:crmMessagingQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>useForConversationNote</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>conversationNoteRich</name>
                <value>
                    <elementReference>LastTextOrSavedText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ingen_brukeropplysninger</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </defaultValue>
            <fieldText>Ingen brukeropplysninger</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Bekreft at det ikke er skrevet sensitiv informasjon, eller opplysninger som kan knyttes til personbruker, i kommentarfeltet.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 6, 6);&quot;&gt;Vennligst bekreft at det Ikke er registrert sensitiv informasjon, eller opplysninger som kan knyttes til personbruker.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ingen_brukeropplysninger} = true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Task_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skal oppgave opprettes?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Task_toggle.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DueDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>dueDateTime</elementReference>
            </defaultValue>
            <fieldText>Frist</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Task_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavEnhet</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TAG_NavUnit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nav-enhet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EmployerInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountNavUnitId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Task_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>errorNavUnitDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errorNavUnit}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navArbeidslivssenterNameDisplay</name>
            <fieldText>&lt;p&gt;Ved &quot;Forebygge sykefravær og redusere frafall&quot; er anbefalt Nav-enhet for denne arbeidsgiveren: &lt;strong&gt;{!navUnitArbeidslivsenterName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Task_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Due_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountNavArbeidslivssenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountNavArbeidslivssenterName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountNavUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dueDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employerInquiry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmployerInquiry__c</objectType>
    </variables>
    <variables>
        <name>errorNavUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NavUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NavUnitQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>navUnitRegionFromAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeSubThemeScreen</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeTextComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeThemeScreen</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>