force-app/main/default/flows/TAG_Event_Rerun_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Event_Type_Updated</name>
        <label>Event Type Updated</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>EventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employer_Activity_Event</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TAG Event Rerun Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Event Rerun Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Employer_Activity_Event</name>
        <label>Create Employer Activity Event</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AccountNavUnit__c</field>
            <value>
                <elementReference>$Record.TAG_AccountNAVUnit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountOrgNumber__c</field>
            <value>
                <elementReference>$Record.CRM_AccountOrgNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountOrgType__c</field>
            <value>
                <elementReference>$Record.TAG_AccountOrgType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountParentId__c</field>
            <value>
                <elementReference>$Record.TAG_AccountParentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountParentOrgNumber__c</field>
            <value>
                <elementReference>$Record.TAG_AccountParentOrgNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityCreatedDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityType__c</field>
            <value>
                <elementReference>$Record.TAG_ActivityType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes__c</field>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventObject__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>EventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IACaseNumber__c</field>
            <value>
                <elementReference>$Record.TAG_IACaseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IACooperationId__c</field>
            <value>
                <elementReference>$Record.TAG_IACooperationId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IAPlanId__c</field>
            <value>
                <elementReference>$Record.TAG_IAPlanId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IASubtheme__c</field>
            <value>
                <elementReference>$Record.IASubtheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedById__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedDate__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeName__c</field>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.CRM_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime__c</field>
            <value>
                <elementReference>$Record.ReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>$Record.TAG_service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.TAG_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskEvent__c</field>
            <value>
                <elementReference>$Record.TaskEvent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.CRM_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserNavUnit__c</field>
            <value>
                <elementReference>$Record.TAG_UserNAVUnit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerActivityEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Type_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012KB000000woXBYAY</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-03-17</startDate>
            <startTime>20:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
