force-app/main/default/flows/TAG_Handle_IA_status_SLETTET.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <description>Delete if there are any related IA-themes, and either plan status or IA-cooperation status is SLETTET.</description>
        <name>Delete_IA_themes</name>
        <label>Delete IA-themes?</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_IA_Cooperation_Remove_plan_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to delete</defaultConnectorLabel>
        <rules>
            <name>Delete_plan_and_IA_themes_only</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_IA_themes</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLETTET</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLETTET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_IA_Theme</targetReference>
            </connector>
            <label>Delete IA-themes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_or_update_IA_cooperation</name>
        <label>Delete or update IA-cooperation?</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IA_cooperation_and_IA_plan_is_deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLETTET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_IA_Cooperation</targetReference>
            </connector>
            <label>IA-cooperation and IA-plan is deleted</label>
        </rules>
        <rules>
            <name>Only_IA_plan_is_deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLETTET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_IA_themes</targetReference>
            </connector>
            <label>Only IA-plan is deleted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG - Handle IA status SLETTET {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG - Handle IA status SLETTET</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_IA_Cooperation</name>
        <label>Delete IA-Cooperation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_IA_Theme</name>
        <label>Delete IA-Theme</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_IA_Cooperation_Remove_plan_details</targetReference>
        </connector>
        <inputReference>Get_related_IA_themes</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_related_IA_themes</name>
        <label>Get related IA-themes</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_IA_themes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IACooperation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IATheme__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_IA_Cooperation_Remove_plan_details</name>
        <label>Update IA Cooperation - Remove plan details</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>PlanId__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlanLastModified__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlanLastPublished__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>PlanStatus__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_or_update_IA_cooperation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PlanStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLETTET</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLETTET</stringValue>
            </value>
        </filters>
        <object>IACooperation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
