force-app/main/default/flows/TAG_Update_activity_date_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Related_activity_found</name>
        <label>Related activity found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_found_activities_that_could_be_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_related_activity_for_account.activityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_employer_last_activity_date</targetReference>
            </connector>
            <label>Yes, found activities that could be related</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FlowFaultMessage</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 32000)</expression>
    </formulas>
    <interviewLabel>TAG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Update activity date on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_employer_last_activity_date</name>
        <label>Update employer last activity date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Log_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>TAG_Employer_Last_Activity_Date__c</field>
            <value>
                <elementReference>Find_related_activity_for_account.activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_related_activity_for_account</targetReference>
        </connector>
        <filterFormula>NOT(ISBLANK({!$Record.Account__c} )) &amp;&amp;
OR( ISPICKVAL({!$Record.InclusionStage__c}, &quot;Avklaring&quot;), ISPICKVAL({!$Record.InclusionStage__c}, &quot;Ferdig Avklart&quot;), ISPICKVAL({!$Record.InclusionStage__c}, &quot;Ny henvendelse&quot;) ) &amp;&amp;
OR( ISBLANK({!$Record.TAG_Employer_Last_Activity_Date__c} ),  {!$Record.TAG_Employer_Last_Activity_Date__c} + 30 &lt; TODAY() )</filterFormula>
        <object>CustomOpportunity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X30_days_after_update</name>
            <connector>
                <targetReference>Find_related_activity_for_account</targetReference>
            </connector>
            <label>30 days after update</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Find activities related to account or current record and registered last 30 days.</description>
        <name>Find_related_activity_for_account</name>
        <label>Find related activity for account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_activity_found</targetReference>
        </connector>
        <flowName>TAG_Get_First_Activity_Date</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>daysAfter</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>daysBefore</name>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>referenceDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Log_error</name>
        <label>Log error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>FlowFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <elementReference>Find_related_activity_for_account.activityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
