force-app/main/default/flows/TAG_Convert_Employer_Inquiry_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>What_source</name>
        <label>What source?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Arbeidsplassen_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidsplassen.no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_arbeidsplassen</targetReference>
            </connector>
            <label>Arbeidsplassen.no</label>
        </rules>
        <rules>
            <name>Kontaktsenteret</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktsenteret</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_kontaktsenteret</targetReference>
            </connector>
            <label>Kontaktsenteret</label>
        </rules>
        <rules>
            <name>Kontaktskjema</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_kontaktskjema</targetReference>
            </connector>
            <label>Kontaktskjema</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Convert Employer Inquiry to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Convert Employer Inquiry to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunity_arbeidsplassen</name>
        <label>Create opportunity arbeidsplassen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_NavUnit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity_kontaktsenteret</name>
        <label>Create opportunity kontaktsenteret</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_NavUnit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity_kontaktskjema</name>
        <label>Create opportunity kontaktskjema</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_NavUnit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_employer_inquiry</name>
        <label>Get employer inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_employer_inquiry</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
