force-app/main/default/flows/TAG_Create_EmployerInquiry_AgTlf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Due_Date</name>
        <label>Calculate Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TAG_BusinessDaysHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>daysToAdd</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TAG_BusinessDaysHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <description>Screen flow to create Employer inquiry for NKS Arbeidsgiver Telefon</description>
    <environments>Default</environments>
    <interviewLabel>TAG Create EmployerInqu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Create EmployerInquiry AgTlf</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EmployerInquiry</name>
        <label>Create EmployerInquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NavUnitQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_DueDate__c</field>
            <value>
                <elementReference>Calculate_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Message__c</field>
            <value>
                <elementReference>Text.conversationNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NoPersonInformation__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Source__c</field>
            <value>
                <stringValue>Kontaktsenteret</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Status__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_SubTheme__c</field>
            <value>
                <elementReference>employerInquiry.TAG_SubTheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Theme__c</field>
            <value>
                <elementReference>employerInquiry.TAG_Theme__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opprett_et_samtalenotat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>accountNavUnitId</assignToReference>
            <field>TAG_NavUnit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Unit</name>
        <label>Get Nav Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_EmployerInquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NavEnhet.recordId</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputAssignments>
            <assignToReference>NavUnitQueue</assignToReference>
            <field>CRM_QueueId__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Opprett_et_samtalenotat</name>
        <label>Opprett et samtalenotat</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Nav_Unit</targetReference>
        </connector>
        <fields>
            <name>TopText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Opprett et samtalenotat&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>employerInquiry.TAG_Theme__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>employerInquiry.TAG_SubTheme__c</objectFieldReference>
        </fields>
        <fields>
            <name>Text</name>
            <extensionName>c:crmMessagingQuickText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>useForConversationNote</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Ingen_brukeropplysninger</name>
            <dataType>Boolean</dataType>
            <fieldText>Ingen brukeropplysninger</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Bekreft at det ikke er skrevet sensitiv informasjon, eller opplysninger som kan knyttes til personbruker, i kommentarfeltet.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Skal oppgave opprettes?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Frist</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Calculate_Due_Date</elementReference>
            </defaultValue>
            <fieldText>Frist</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Task_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NavEnhet</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TAG_NavUnit__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nav-enhet</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>EmployerInquiry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>accountNavUnitId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Task_toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Due_Date</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountNavUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>employerInquiry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmployerInquiry__c</objectType>
    </variables>
    <variables>
        <name>NavUnitQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
