force-app/main/default/flows/TAG_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>GetDateValueOfStartDateTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!StartDateTimeVariable})</expression>
    </formulas>
    <interviewLabel>TAG Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_latest_IA_priority_event</name>
        <label>Get latest IA priority event</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prioritert IA (Fia)</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>StartDateTimeVariable</assignToReference>
            <field>StartDateTime</field>
        </outputAssignments>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToAccount__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_LastEventDate__c</field>
            <value>
                <elementReference>GetDateValueOfStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_latest_IA_priority_event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prioritert IA (Fia)</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StartDateTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
