force-app/main/default/flows/TAG_Task_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Is_correct_recordtype</name>
        <label>Is correct recordtype?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Right_record_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AG Oppgave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task</targetReference>
            </connector>
            <label>Right record type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Task Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Task Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>TAG_CompletedDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_correct_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_CompletedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2025-02-21T14:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-04-25</startDate>
            <startTime>16:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
