force-app/main/default/flows/TAG_Set_Role_When_Profile_is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_profileId_changed</name>
        <label>Is profileId changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_UserProfileName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAV IPS Jobbspesialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_role_name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Set Role When Profile is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Set Role When Profile is Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_role_name</name>
        <label>Get role name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_role_on_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PO Arbeidsgiver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_role_on_user</name>
        <label>Update role on user</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <elementReference>Get_role_name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_profileId_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_UserProfileName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAV Kontor</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
