force-app/main/default/flows/TAG_Set_Account_Partner_Status_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Set_partner_field_Blank_value</name>
        <label>Set partner field - Blank value</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.TAG_Partner_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_EmployerAgreement_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_partner_field_Level_1</name>
        <label>Set partner field - Level 1</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.TAG_Partner_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Strategisk Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_partner_field_Level_2</name>
        <label>Set partner field - Level 2</label>
        <locationX>528</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.TAG_Partner_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Samarbeidspartner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_active_contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_partner_field_Level_2_IA</name>
        <label>Set partner field - Level 2</label>
        <locationX>330</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.TAG_Partner_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Samarbeidspartner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_agreement_type</name>
        <label>Check agreement type</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_active_contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Agreement_is_strategisk_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_active_contracts.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Strategisk partneravtale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_partner_field_Level_1</targetReference>
            </connector>
            <label>Strategisk partner</label>
        </rules>
        <rules>
            <name>Marked_or_IA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_active_contracts.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA-samarbeid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_active_contracts.TAG_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marked-samarbeid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_partner_field_Level_2</targetReference>
            </connector>
            <label>Marked or IA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_active_IA_Case</name>
        <label>Has active IA Case?</label>
        <locationX>330</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Get_active_IA_Cooperation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IA Case found</defaultConnectorLabel>
        <rules>
            <name>IA_Case_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_active_IA_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_partner_field_Level_2_IA</targetReference>
            </connector>
            <label>IA Case found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_active_IA_Cooperation</name>
        <label>Has active IA Cooperation?</label>
        <locationX>462</locationX>
        <locationY>1448</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No IA Cooperation found</defaultConnectorLabel>
        <rules>
            <name>IA_Cooperation_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_active_IA_Cooperation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_partner_field_Level_2_IA</targetReference>
            </connector>
            <label>IA Cooperation found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_partner_status_determined_from_agreements</name>
        <label>Is partner status determined from agreements?</label>
        <locationX>176</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>Get_active_IA_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, partner status not found</defaultConnectorLabel>
        <rules>
            <name>Yes_partner_status_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecord.TAG_Partner_Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes, partner status found</label>
        </rules>
    </decisions>
    <description>Setter partner status på konto basert på bedriftsavtaler, IA-sak og IA-samarbeid, enten Strategisk Partner eller Samarbeidspartner. Ved flere avtaler, IA-sak og IA-samarbeid velges høyeste partnernivå, og dersom det ikke er noen så settes partner status til blankt.</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>TAG Set Account Partner Status Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Set Account Partner Status Subflow</label>
    <loops>
        <name>Loop_active_contracts</name>
        <label>Loop active contracts</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_active_contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_agreement_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_partner_status_determined_from_agreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_active_contracts</name>
        <label>Get active contracts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_active_contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Godkjent</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_EmployerAgreement_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TAG_EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TAG_Category__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_active_IA_Case</name>
        <label>Get active IA Case</label>
        <locationX>330</locationX>
        <locationY>1124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_active_IA_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VI_BISTÅR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACase__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_active_IA_Cooperation</name>
        <label>Get active IA Cooperation</label>
        <locationX>462</locationX>
        <locationY>1340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_active_IA_Cooperation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AKTIV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACooperation__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_EmployerAgreement_Record_Type</name>
        <label>Get Contract EmployerAgreement Record Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_active_contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmployerAgreement</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>1982</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_Partner_Status__c</field>
            <value>
                <elementReference>accountRecord.TAG_Partner_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_partner_field_Blank_value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
