force-app/main/default/flows/TAG_MarkContactSsFormerEmployee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Tidligere_Ansatt</name>
        <label>Set Tidligere Ansatt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.TAG_Former_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tidligere_Ansatt</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>TAG Mark Contact as Former Employee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Mark Contact as Former Employee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Tidligere_Ansatt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tidligere_Ansatt</name>
        <label>Update Tidligere Ansatt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ToastMessageFormerEmployee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <screens>
        <name>Toast_Message_Error</name>
        <label>Toast Message Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ToastError</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Det har oppstått en feil.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ToastMessageFormerEmployee</name>
        <label>Toast Message Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>contactSuccessFormer</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Kontakten er nå markert som tidligere ansatt</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Vellykket!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Toast_Message_Error</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - TAG Mark Contact as Former Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error encountered during marking Contact as former employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
