force-app/main/default/flows/TAG_CreateOpportunityfromRekrutteringshjelp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_values_for_Candidate_Outcome</name>
        <label>Set values for Candidate Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FORMIDLING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.EngagementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EngagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.JobPostingId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.JobPosting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.TAG_NavUnit__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FATT_JOBBEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etterregistrering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_existing_candidate_outcome.Extent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Extent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_Candidate_Outcome</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Opportunities_already</name>
        <label>Are there Opportunities already?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_or_updated_to_RecruitmentAssistance</name>
        <label>Created or updated to RecruitmentAssistance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Updated_to_Rekrutteringshjelp_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecruitmentAssistance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecruitmentAssistance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Updated to Rekrutteringshjelp True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_new_Candidate_Outcome</name>
        <label>Existing or new Candidate Outcome?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_values_for_Candidate_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Candidate Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Candidate_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_candidate_outcome</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_candidate_outcome</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Candidate_Outcome_record</targetReference>
            </connector>
            <label>New Candidate Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Employment_Placement</name>
        <label>Is Employment Placement?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Created_or_updated_to_RecruitmentAssistance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Employment Placement is not true</defaultConnectorLabel>
        <rules>
            <name>Yes_Employment_Placement_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_EmploymentPlacement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_candidate_outcome</targetReference>
            </connector>
            <label>Yes Employment Placement is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Account</name>
        <label>Is there Account?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inclusion_Record_Type_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NotesWithTlfNumber</name>
        <dataType>String</dataType>
        <expression>&quot;Henvendelse fra Arbeidsplassen.no: Arbeidsgiver ønsker rekrutteringshjelp i forbindelse med en konkret stilling (se lenke over). Vennligst kontakt arbeidsgiver på telefonnummer &quot; &amp; {!$Record.RecruitmentPhone__c} &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>TAG Create Opportunity from Rekrutteringshjelp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Job Posting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Candidate_Outcome_record</name>
        <label>Create Candidate Outcome record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>FORMIDLING</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementType__c</field>
            <value>
                <elementReference>$Record.EngagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extent__c</field>
            <value>
                <elementReference>$Record.Extent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPostingId__c</field>
            <value>
                <elementReference>$Record.UUID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPosting__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NavUnit__c</field>
            <value>
                <elementReference>$Record.Account__r.TAG_NavUnit__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>FATT_JOBBEN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeRegistered__c</field>
            <value>
                <elementReference>$Record.Created__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Etterregistrering</stringValue>
            </value>
        </inputAssignments>
        <object>CandidateOutcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <stringValue>Ny henvendelse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <stringValue>Rekrutteringshjelp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NotesWithTlfNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Nav_Unit.CRM_QueueId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inclusion_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Arbeidsplassen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_JobPosting__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>Get_Nav_Unit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_No_person_information__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_OrganizationNameFromForm__c</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_UltimateSource__c</field>
            <value>
                <stringValue>Arbeidsplassen.no</stringValue>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_candidate_outcome</name>
        <label>Get existing candidate outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_or_new_Candidate_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>JobPostingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CandidateOutcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inclusion_Record_Type_Id</name>
        <label>Get Inclusion Record Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Nav_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inclusion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Unit</name>
        <label>Get Nav Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.TAG_NavUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_Opportunities_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_JobPosting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_Candidate_Outcome</name>
        <label>Update existing Candidate Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_existing_candidate_outcome</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Employment_Placement</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4 AND 5) OR 6</filterLogic>
        <filters>
            <field>Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stillingsregistrering</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecruitmentAssistance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>REJECTED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>STOPPED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DELETED</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_EmploymentPlacement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>JobPosting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
