force-app/main/default/flows/TAG_Workfare_Activities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_workfare_details</name>
        <label>Assign workfare details</label>
        <locationX>506</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_workfare.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_workfare.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DateTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_workfare.NavIdent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CaseWorkerNavIdent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_workfare.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DateFrom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_workfare.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_workfare.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EKSPERTBISTAND</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_workfare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Connected_to_account</name>
        <label>Connected to account?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_updated_or_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has account</defaultConnectorLabel>
        <rules>
            <name>No_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_updated_or_created</name>
        <label>Is updated or created?</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_workfare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsRecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_workfare</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConvertStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.AktivitetStatuskode__c}, 
&apos;FULLF&apos;, &apos;AVSLUTTET&apos;, 
&apos;PLAN&apos;, &apos;PÅBEGYNT&apos;, 
&apos;AVBR&apos;, &apos;AVBRUTT&apos;, 
&apos;GJENN&apos;, &apos;GJENNOMFØRES&apos;, 
&apos;AVSLUTTET&apos;, &apos;AVSLUTTET&apos;, 
&apos;ANNULLERT&apos;
)</expression>
    </formulas>
    <formulas>
        <name>IsRecordNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK(PRIORVALUE({!$Record.AktivitetStatuskode__c})), true, false)</expression>
    </formulas>
    <interviewLabel>TAG Workfare Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Workfare Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_workfare</name>
        <label>Create workfare</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>$Record.DateTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KafkaId__c</field>
            <value>
                <elementReference>$Record.KafkaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NavIdent__c</field>
            <value>
                <elementReference>$Record.CaseWorkerNavIdent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>$Record.DateFrom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ConvertStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>EKSPERTBISTAND</stringValue>
            </value>
        </inputAssignments>
        <object>Workfare__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_workfare</name>
        <label>Get workfare</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_workfare_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>KafkaId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.KafkaId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Workfare__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_workfare</name>
        <label>Update workfare</label>
        <locationX>506</locationX>
        <locationY>755</locationY>
        <inputReference>Get_workfare</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Connected_to_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Aktivitetstype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ekspertbistand</stringValue>
            </value>
        </filters>
        <object>ArenaActivity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveWorkfareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ArenaActivity__c</objectType>
    </variables>
</Flow>
