force-app/main/default/flows/TAG_Close_Inquiry_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Fyller ut verdier på mulighet før den vises i screen</description>
        <name>Set_opportunity_values</name>
        <label>Set opportunity values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunity.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.TAG_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.NavUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.INT_MunicipalityNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.MunicipalityNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Konvertert fra henvendelse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.InclusionStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avklaring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.TAG_EmployerInquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.InquiryCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityTypeToOpportunityCategoryMapping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ny_mulighet_screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>closeAndCreateOpportunity</name>
        <choiceText>Fullfør og opprett mulighet</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>opportunity.Result__c</elementReference>
        </value>
    </choices>
    <description>Used in quick action on EmployerInquiry__c to convert inquiry to custom opportunity. Relevant fields from the inquiry are copied to the new opportunity. The inquiry reference is stored as lookup field on opportunity. Exceptions on create and update elements will display error messages to user.</description>
    <dynamicChoiceSets>
        <name>InquiryResultChices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ClosedReason__c</picklistField>
        <picklistObject>EmployerInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>EmployerInquiry__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ActivityTypeToOpportunityCategoryMapping</name>
        <dataType>String</dataType>
        <expression>CASE( TEXT({!recordId.ActivityType__c}),
&apos;Rekruttere og inkludere&apos;, &apos;Skal ansette&apos;,
&apos;Forebygge sykefravær og redusere frafall&apos;, &apos;Forebygge sykefravær&apos;,
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CreateOpportunityURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/o/CustomOpportunity__c/new?defaultFieldValues=Account__c=&apos;&amp;{!opportunity.Account__c}
&amp;&apos;,Contact__c=&apos;&amp;{!opportunity.Contact__c}
&amp;&apos;,TAG_NavUnit__c=&apos;&amp;{!opportunity.TAG_NavUnit__c}
&amp;&apos;,INT_MunicipalityNumber__c=&apos;&amp;{!opportunity.INT_MunicipalityNumber__c}
&amp;&apos;,Source__c=&apos;&amp;TEXT({!opportunity.Source__c})
&amp;&apos;,InclusionStage__c=&apos;&amp;TEXT({!opportunity.InclusionStage__c})
&amp;&apos;,TAG_EmployerInquiry__c=&apos;&amp;{!opportunity.TAG_EmployerInquiry__c}</expression>
    </formulas>
    <interviewLabel>TAG Close Inquiry &amp; Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Close Inquiry &amp; Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_opportunity</name>
        <label>Save opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>CreateOpportunityFaultScreen</targetReference>
        </faultConnector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_inquiry_status_and_comment</name>
        <label>Update inquiry status and comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_opportunity_values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateInquiryFaultScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClosedReason__c</field>
            <value>
                <elementReference>CloseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClosingComment__c</field>
            <value>
                <elementReference>ClosingComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerInquiry__c</object>
    </recordUpdates>
    <screens>
        <name>CreateOpportunityFaultScreen</name>
        <label>Kunne ikke opprette muligheten</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreateOpportunityFaultMessage1</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Kunne ikke opprette muligheten</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CreateOpportunityFaultMessage2</name>
            <fieldText>&lt;p&gt;Henvendelsen ble lukket, men vi kunne desverre ikke opprette ny mulighet.&lt;/p&gt;&lt;p&gt;Du kan opprette mulighet manuelt via denne linken:&lt;strong&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Ny_mulighet_link}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOpportunityFaultMessage3</name>
            <fieldText>&lt;p&gt;Tekniske detaljer:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: courier; font-size: 11px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lukk_henvendelse</name>
        <label>Lukk henvendelse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_inquiry_status_and_comment</targetReference>
        </connector>
        <fields>
            <name>Lukk_henvendelse_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lukk_henvendelse_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>InquiryStatuses</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fullført</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CloseReason</name>
                    <choiceReferences>InquiryResultChices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Kontaktet - Opprettet mulighet</stringValue>
                    </defaultValue>
                    <fieldText>Resultat</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lukk_henvendelse_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ClosingComment</name>
                    <defaultValue>
                        <stringValue>{!recordId.ClosingComment__c}</stringValue>
                    </defaultValue>
                    <fieldText>Referat</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ny_mulighet_screen</name>
        <label>Ny mulighet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_opportunity</targetReference>
        </connector>
        <fields>
            <name>Informasjon_som_kopieres_fra_henvendelsen</name>
            <fieldText>Informasjon som kopieres fra henvendelsen</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informasjon_som_kopieres_fra_henvendelsen_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomOpportunityAccount</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Konto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>opportunity.Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomOpportunityContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Kontaktperson</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>opportunity.Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomOpportunityNavUnit</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TAG_NavUnit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nav enhet</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>opportunity.TAG_NavUnit__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informasjon_som_kopieres_fra_henvendelsen_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>opportunity.InclusionStage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>opportunity.InquiryCategory__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>opportunity.TAG_Short_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>opportunity.TAG_No_person_information__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateInquiryFaultScreen</name>
        <label>Kunne ikke oppdatere henvendelse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateInquiryFaultMessage1</name>
            <extensionName>flowruntime:message</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageType</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageContent</name>
                <value>
                    <stringValue>Kunne ikke oppdatere henvendelse</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UpdateInquiryFaultMessage2</name>
            <fieldText>&lt;p&gt;Det oppstod en feil og endringene kunne ikke lagres.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UpdateInquiryFaultMessage3</name>
            <fieldText>&lt;p&gt;Tekniske detaljer:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px; font-family: courier;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Lukk_henvendelsen</name>
        <isActive>true</isActive>
        <label>Lukk henvendelsen</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Ny_mulighet</name>
        <isActive>true</isActive>
        <label>Ny mulighet</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lukk_henvendelse</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Ny_mulighet_link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!CreateOpportunityURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Ny mulighet&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomOpportunity__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmployerInquiry__c</objectType>
    </variables>
</Flow>
