force-app/main/default/flows/TAG_Candidate_Outcome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_duplicate_value_for_current_record</name>
        <label>Set duplicate value for current record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Run_through_duplicate_list.Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_time_registered</name>
        <label>Store time registered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TimeRegisteredNewestValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_through_duplicate_list.TimeRegistered__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_duplicate_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_duplicates</name>
        <label>Are there duplicates?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_duplicate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_duplicate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_newest_time_value</name>
        <label>Is newest time value?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_duplicate_value_for_current_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No not newest</defaultConnectorLabel>
        <rules>
            <name>Yes_is_newest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_through_duplicate_list.TimeRegistered__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TimeRegisteredNewestValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_time_registered</targetReference>
            </connector>
            <label>Yes is newest</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Candidate Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Candidate Outcome</label>
    <loops>
        <name>Run_through_duplicate_list</name>
        <label>Run through duplicate list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_duplicate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_newest_time_value</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_duplicate</name>
        <label>Get duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CandidateId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CandidateId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>JobPostingId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.JobPostingId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CandidateOutcome__c</object>
        <sortField>TimeRegistered__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Posting</name>
        <label>Get Job Posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Candidate_Outcome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.JobPostingId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>JobPosting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate_Outcome</name>
        <label>Update Candidate Outcome</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_duplicate</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Job_Posting.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobPosting__c</field>
            <value>
                <elementReference>Get_Job_Posting.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update current record record in loop with duplicate value</description>
        <name>Update_duplicate</name>
        <label>Update duplicate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_through_duplicate_list</targetReference>
        </connector>
        <inputReference>Run_through_duplicate_list</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Posting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stillingsoppdrag</stringValue>
            </value>
        </filters>
        <object>CandidateOutcome__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_through_duplicate_list</targetReference>
        </connector>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>Flow - TAG Candidate Outcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Category</name>
            <value>
                <stringValue>CandidateOutcome</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Error encountered. Duplicate Candidate Outcomes exist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Reference_Object</name>
            <value>
                <stringValue>CandidateOutcome__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferenceID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CandidateOutcome__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CandidateOutcome__c</objectType>
    </variables>
    <variables>
        <name>TimeRegisteredNewestValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2016-01-01T05:00:00.000Z</dateTimeValue>
        </value>
    </variables>
</Flow>
