force-app/main/default/flows/TAG_Contract_update_reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_update_reminder</name>
        <label>Send update reminder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_reminder_sent_date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Create_Application_Log_Flow_1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>InternalContactEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>do-not-reply@nav.no</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Bedriftsavtale nærmer seg utløpsdato</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_to_colection</name>
        <label>Add to colection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InternalContactEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_contracts.TAG_InternalContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_contracts.TAG_InternalContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_contracts.TAG_Expiration_Reminder_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timestampNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RemindedContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contracts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_contracts_was_found</name>
        <label>Check if contracts was found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contracts_marked_for_update</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_contracts</targetReference>
            </connector>
            <label>Found contracts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_that_internal_contact_email_exists</name>
        <label>Check that internal contact email exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_contracts.TAG_InternalContact__r.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_colection</targetReference>
            </connector>
            <label>Email exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_recipient_list_is_not_empty</name>
        <label>Verify recipient list is not empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emails_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalContactEmails</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_update_reminder</targetReference>
            </connector>
            <label>Emails found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>timestampNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>updatePageUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340},FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_340})) &amp; &apos;lightning/o/Contract__c/list?filterName=Mine_avtaler_til_forfall&apos;</expression>
    </formulas>
    <formulas>
        <name>x13_days_ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 13</expression>
    </formulas>
    <interviewLabel>TAG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Contract update reminder</label>
    <loops>
        <name>Loop_contracts</name>
        <label>Loop contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_contracts_marked_for_update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_that_internal_contact_email_exists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_recipient_list_is_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contracts_marked_for_update</name>
        <label>Get contracts marked for update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_contracts_was_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>TAG_Expiration_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Expiration_Reminder_Send_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Expiration_Reminder_Send_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>x13_days_ago</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_reminder_sent_date</name>
        <label>Update reminder sent date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Flow_Create_Application_Log_Flow_2</targetReference>
        </faultConnector>
        <inputReference>RemindedContracts</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contracts_marked_for_update</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-09-16</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Create_Application_Log_Flow_1</name>
        <label>Flow Create Application Log Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>TAG Contract update reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Send contract update reminder failed.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Create_Application_Log_Flow_2</name>
        <label>Flow Create Application Log Flow 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Flow_Create_Application_Log</flowName>
        <inputAssignments>
            <name>Application_Domain</name>
            <value>
                <stringValue>POAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Error_Source</name>
            <value>
                <stringValue>TAG Contract update reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Level</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Log_Message</name>
            <value>
                <stringValue>Failed to update contract reminder send date.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Bedriftsavtale nærmer seg utløpsdato</description>
        <name>NotificationText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hei,&lt;/p&gt;&lt;p&gt;Dette er et automatisk varsel fra Salesforce Arbeidsgiver.&lt;/p&gt;&lt;p&gt;Du mottar denne varslingen fordi du er registrert som ansvarlig for en eller flere bedriftsavtaler som nærmer seg utløpsdato.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Hva betyr dette?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bedriftsavtalene har mindre enn 2 måneder igjen til utløp og bør vurderes for enten forlenging eller avslutning. Det er viktig at disse avtalene følges opp i tide for å sikre kontinuitet i samarbeidet med arbeidsgiverne.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Hva må du gjøre?&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Gå til oversikten over avtaler som nærmer seg forfall: &lt;a href=&quot;{!updatePageUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(11, 92, 171); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;Mine bedriftsavtaler nær utløpsdato&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;Vurder hver avtale individuelt&lt;/li&gt;&lt;li&gt;Ta kontakt med arbeidsgiver for å avklare om avtalen skal forlenges&lt;/li&gt;&lt;li&gt;Oppdater avtalens status og eventuelt ny sluttdato i systemet&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Ved spørsmål om oppfølging av bedriftsavtaler, ta kontakt med din leder eller teamleder.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Med vennlig hilsen&lt;/p&gt;&lt;p&gt;Nav Salesforce Arbeidsgiver&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>InternalContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemindedContracts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
</Flow>
