force-app/main/default/flows/TAG_Arena_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_ekspertbistand</name>
        <label>Is ekspertbistand?</label>
        <locationX>336</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Create_workfare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Aktivitetstype__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ekspertbistand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_past_end_time</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_past_end_time</name>
        <label>Is past end time?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Past_end_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DateTo__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TimestampNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ekspertbistand</targetReference>
            </connector>
            <label>Past end time</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConvertStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.AktivitetStatuskode__c}, 
&apos;FULLF&apos;, &apos;AVSLUTTET&apos;, 
&apos;PLAN&apos;, &apos;PÅBEGYNT&apos;, 
&apos;AVBR&apos;, &apos;AVBRUTT&apos;, 
&apos;GJENN&apos;, &apos;GJENNOMFØRES&apos;, 
&apos;AVSLUTTET&apos;, &apos;AVSLUTTET&apos;, 
&apos;ANNULLERT&apos;
)</expression>
    </formulas>
    <formulas>
        <name>TimestampNow</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>TAG Arena Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Arena Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_workfare</name>
        <label>Create workfare</label>
        <locationX>490</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>$Record.DateTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KafkaId__c</field>
            <value>
                <elementReference>$Record.KafkaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NavIdent__c</field>
            <value>
                <elementReference>$Record.CaseWorkerNavIdent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>$Record.DateFrom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>ConvertStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>EKSPERTBISTAND</stringValue>
            </value>
        </inputAssignments>
        <object>Workfare__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Ekspertbistand</name>
        <label>Update Ekspertbistand</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>AktivitetStatuskode__c</field>
            <value>
                <stringValue>FULLF</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_ekspertbistand</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Aktivitetstype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ekspertbistand</stringValue>
            </value>
        </filters>
        <object>ArenaActivity__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-02</startDate>
            <startTime>21:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
