force-app/main/default/flows/TAG_Arena_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_Past_End_Date</name>
        <label>Is Past End Date?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DateTo__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TimestampNow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Activity_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TimestampNow</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>TAG Arena Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Arena Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Activity_Status</name>
        <label>Update Activity Status</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>AktivitetStatuskode__c</field>
            <value>
                <stringValue>AVSLUTTET</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Past_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AktivitetStatuskode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GJENNOMFØRES</stringValue>
            </value>
        </filters>
        <object>ArenaActivity__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-01</startDate>
            <startTime>03:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
