force-app/main/default/flows/TAG_Updated_Account_with_partner_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>TAG Updated Account with partner status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Updated Account with partner status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Account</name>
        <label>Get related Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updated_Account</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TAG_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updated_Account</name>
        <label>Updated Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner_Status__c</field>
            <value>
                <elementReference>$Record.Type_avtale__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Account</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Type_avtale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Strategisk partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_avtale__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utvidet partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>TAG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Godkjent</stringValue>
            </value>
        </filters>
        <object>Contract__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
