force-app/main/default/flows/TAG_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>798</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RelatedToAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Type_Created</name>
        <label>Event Type Created</label>
        <locationX>1106</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>EventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employer_Activity_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Event_Type_Updated</name>
        <label>Event Type Updated</label>
        <locationX>1370</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>EventType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employer_Activity_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_event_date</name>
        <label>Store event date</label>
        <locationX>1106</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>StartDateTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_latest_event_date_on_account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Event_related_to_IACase</name>
        <label>Is Event related to IACase?</label>
        <locationX>446</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Trigger_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_IA_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IA_Case_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IA_Case_Number_blank</name>
        <label>Is IA Case Number blank?</label>
        <locationX>600</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Trigger_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not blank</defaultConnectorLabel>
        <rules>
            <name>Yes_is_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_IACaseNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TAG_IACaseNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IA_Case</targetReference>
            </connector>
            <label>Yes is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_IA_event</name>
        <label>Is IA event?</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Trigger_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No not IA event</defaultConnectorLabel>
        <rules>
            <name>Yes_is_IA_event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_IsIAPriority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_latest_IA_priority_event</targetReference>
            </connector>
            <label>Yes is IA event</label>
        </rules>
        <rules>
            <name>Is_IPS_event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidsgivermøte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Account.TAG_LastEventDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_event_date</targetReference>
            </connector>
            <label>Is IPS event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RelatedToAccount_null</name>
        <label>Is RelatedToAccount null?</label>
        <locationX>930</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Is_IA_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RelatedToAccount not null</defaultConnectorLabel>
        <rules>
            <name>RelatedToAccount_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>RelatedToAccount null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_to_What_Object</name>
        <label>Related to What Object?</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_RelatedToAccount_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annet</defaultConnectorLabel>
        <rules>
            <name>Kampanjemedlem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_RelatedToObject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kampanjemedlem</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Campaign_Member</targetReference>
            </connector>
            <label>Kampanjemedlem</label>
        </rules>
        <rules>
            <name>Mulighet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TAG_RelatedToObject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mulighet</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedToAccount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Opportunity</targetReference>
            </connector>
            <label>Mulighet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trigger_type</name>
        <label>Trigger type</label>
        <locationX>1238</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Event_Type_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Updated</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Type_Created</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_record_type</name>
        <label>What record type?</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Trigger_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>arb_agmote_iaEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidsgivermøte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AG Møte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_to_What_Object</targetReference>
            </connector>
            <label>Arbeidsgivermøte or AG Møte or IA event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type?</label>
        <locationX>490</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Trigger_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IA_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA_event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IA_Cooperation</targetReference>
            </connector>
            <label>IA Event</label>
        </rules>
        <rules>
            <name>AG_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ArbeidsgiverEvent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_IA_Case_Number_blank</targetReference>
            </connector>
            <label>AG Event</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endret_dato_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.LastModifiedDate})</expression>
    </formulas>
    <formulas>
        <name>GetDateValueOfStartDateTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!StartDateTimeVariable})</expression>
    </formulas>
    <formulas>
        <name>moete_dato_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.ActivityDate})</expression>
    </formulas>
    <formulas>
        <name>opprettet_dato_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.CreatedDate})</expression>
    </formulas>
    <formulas>
        <name>paaminnelse_dato_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.ReminderDateTime})</expression>
    </formulas>
    <formulas>
        <name>slutt_tid_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.EndDateTime})</expression>
    </formulas>
    <formulas>
        <name>start_tid_text</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.StartDateTime})</expression>
    </formulas>
    <interviewLabel>TAG Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Employer_Activity_Event</name>
        <label>Create Employer Activity Event</label>
        <locationX>1238</locationX>
        <locationY>2831</locationY>
        <inputAssignments>
            <field>AccountNavUnit__c</field>
            <value>
                <elementReference>$Record.TAG_AccountNAVUnit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountOrgNumber__c</field>
            <value>
                <elementReference>$Record.CRM_AccountOrgNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountOrgType__c</field>
            <value>
                <elementReference>$Record.TAG_AccountOrgType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountParentId__c</field>
            <value>
                <elementReference>$Record.TAG_AccountParentId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountParentOrgNumber__c</field>
            <value>
                <elementReference>$Record.TAG_AccountParentOrgNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityCreatedDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityType__c</field>
            <value>
                <elementReference>$Record.TAG_ActivityType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes__c</field>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime__c</field>
            <value>
                <elementReference>$Record.EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventObject__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <elementReference>EventType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IACaseNumber__c</field>
            <value>
                <elementReference>$Record.TAG_IACaseNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IACooperationId__c</field>
            <value>
                <elementReference>$Record.TAG_IACooperationId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IAPlanId__c</field>
            <value>
                <elementReference>$Record.TAG_IAPlanId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IASubtheme__c</field>
            <value>
                <elementReference>$Record.IASubtheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedById__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastModifiedDate__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId__c</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeName__c</field>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.CRM_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime__c</field>
            <value>
                <elementReference>$Record.ReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>$Record.TAG_service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime__c</field>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.TAG_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskEvent__c</field>
            <value>
                <elementReference>$Record.TaskEvent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.CRM_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserNavUnit__c</field>
            <value>
                <elementReference>$Record.TAG_UserNAVUnit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId__c</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>EmployerActivityEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Campaign_Member</name>
        <label>Get Custom Campaign Member</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Value_for_CCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomCampaignMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Opportunity</name>
        <label>Get Custom Opportunity</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Value_for_CO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomOpportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Case</name>
        <label>Get IA Case</label>
        <locationX>446</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Event_related_to_IACase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Case_via_Cooperation</name>
        <label>Get IA Case via Cooperation</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Number_ID_Theme_Subtheme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_IA_Cooperation.IACase__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IA_Cooperation</name>
        <label>Get IA Cooperation</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_IA_Case_via_Cooperation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IACooperation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_latest_IA_priority_event</name>
        <label>Get latest IA priority event</label>
        <locationX>490</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prioritert IA (Fia)</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>StartDateTimeVariable</assignToReference>
            <field>StartDateTime</field>
        </outputAssignments>
        <sortField>StartDateTime</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Number_ID_Theme_Subtheme</name>
        <label>Set Case Number, ID, Theme, Subtheme</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>Trigger_type</targetReference>
        </connector>
        <inputAssignments>
            <field>IACase__c</field>
            <value>
                <elementReference>Get_IA_Case_via_Cooperation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IASubtheme__c</field>
            <value>
                <elementReference>$Record.IASubthemes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACaseNumber__c</field>
            <value>
                <elementReference>Get_IA_Case_via_Cooperation.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACooperationId__c</field>
            <value>
                <elementReference>Get_IA_Cooperation.CooperationId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IAPlanId__c</field>
            <value>
                <elementReference>Get_IA_Cooperation.PlanId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_service__c</field>
            <value>
                <elementReference>$Record.IATheme__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_IA_Case_Number</name>
        <label>Set IA Case Number</label>
        <locationX>314</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Trigger_type</targetReference>
        </connector>
        <inputAssignments>
            <field>IACase__c</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_IACaseNumber__c</field>
            <value>
                <elementReference>Get_IA_Case.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account</name>
        <label>Update account</label>
        <locationX>490</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToAccount__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_LastEventDate__c</field>
            <value>
                <elementReference>GetDateValueOfStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Value_for_CCM</name>
        <label>Update Account Value for CCM</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_RelatedToAccount_null</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>Get_Custom_Campaign_Member.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Value_for_CO</name>
        <label>Update Account Value for CO</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_RelatedToAccount_null</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>Get_Custom_Opportunity.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_latest_event_date_on_account</name>
        <label>Update latest event date on account</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Trigger_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToAccount__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TAG_LastEventDate__c</field>
            <value>
                <elementReference>StartDateTimeVariable</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RelatedToAccount</name>
        <label>Update RelatedToAccount</label>
        <locationX>798</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Is_IA_event</targetReference>
        </connector>
        <inputAssignments>
            <field>RelatedToAccount__c</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_record_type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TAG_ActivityType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>StoreEventValues</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;id&quot;:&quot;{!$Record.Id}&quot;, &quot;tema&quot;:&quot;{!$Record.TAG_ActivityType__c}&quot;, &quot;tjeneste&quot;:&quot;{!$Record.TAG_service__c}&quot;, &quot;emne&quot;:&quot;{!$Record.Subject}&quot;, &quot;opprettet_dato&quot;:&quot;{!opprettet_dato_text}&quot;, &quot;endret_dato&quot;:&quot;{!endret_dato_text}&quot;, &quot;virksomhet_orgnr&quot;:&quot;{!$Record.CRM_AccountOrgNumber__c}&quot;, &quot;moete_dato&quot;:&quot;{!moete_dato_text}&quot;, &quot;virksomhet_NAV_enhet&quot;:&quot;{!$Record.TAG_AccountNAVUnit__c}&quot;, &quot;virksomhet_type&quot;:&quot;{!$Record.TAG_AccountOrgType__c}&quot;, &quot;ansatt_NAV_enhet&quot;:&quot;{!$Record.TAG_UserNAVUnit__c}&quot;, &quot;overordnet_virksomhet_id&quot;:&quot;{!$Record.TAG_AccountParentId__c}&quot;, &quot;overordnet_virksomhet_orgnr&quot;:&quot;{!$Record.TAG_AccountParentOrgNumber__c}&quot;, &quot;status&quot;:&quot;{!$Record.TAG_Status__c}&quot;, &quot;kanal&quot;:&quot;{!$Record.Type}&quot;, &quot;region&quot;:&quot;{!$Record.CRM_Region__c}&quot;, &quot;ansatt_NAV_enhet_navn&quot;:&quot;{!$Record.CRM_Unit__c}&quot;, &quot;paaminnelse_dato&quot;:&quot;{!paaminnelse_dato_text}&quot;, &quot;oppgaveposttype_id&quot;:&quot;{!$Record.RecordTypeId}&quot;, &quot;start_tid&quot;:&quot;{!start_tid_text}&quot;, &quot;slutt_tid&quot;:&quot;{!slutt_tid_text}&quot;, &quot;moeteundertype&quot;:&quot;{!$Record.EventSubtype}&quot;, &quot;varighet&quot;:&quot;{!$Record.DurationInMinutes}&quot;, &quot;relatert_til&quot;:&quot;{!$Record.WhatId}&quot;, &quot;relatert_til_hvem&quot;:&quot;{!$Record.WhoId}&quot;, &quot;IA_saksnummer&quot;:&quot;{!$Record.TAG_IACaseNumber__c}&quot;, &quot;IA_undertema&quot;:&quot;{!$Record.IASubtheme__c}&quot;, &quot;IA_samarbeid_id&quot;:&quot;{!$Record.TAG_IACooperationId__c}&quot;, &quot;posttype_navn&quot;:&quot;{!$Record.RecordTypeName__c}&quot;}</text>
    </textTemplates>
    <textTemplates>
        <name>StoreEventValuesForPubSub</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;id&quot;:&quot;{!$Record.Id}&quot;, &quot;tema&quot;:&quot;{!$Record.TAG_ActivityType__c}&quot;, &quot;tjeneste&quot;:&quot;{!$Record.TAG_service__c}&quot;,  &quot;emne&quot;:&quot;{!$Record.Subject}&quot;, &quot;opprettet_dato&quot;:&quot;{!opprettet_dato_text}&quot;, &quot;endret_dato&quot;:&quot;{!endret_dato_text}&quot;, &quot;virksomhet_orgnr&quot;:&quot;{!$Record.CRM_AccountOrgNumber__c}&quot;, &quot;moete_dato&quot;:&quot;{!moete_dato_text}&quot;, &quot;virksomhet_NAV_enhet&quot;:&quot;{!$Record.TAG_AccountNAVUnit__c}&quot;, &quot;virksomhet_type&quot;:&quot;{!$Record.TAG_AccountOrgType__c}&quot;, &quot;ansatt_NAV_enhet&quot;:&quot;{!$Record.TAG_UserNAVUnit__c}&quot;, &quot;overordnet_virksomhet_id&quot;:&quot;{!$Record.TAG_AccountParentId__c}&quot;, &quot;overordnet_virksomhet_orgnr&quot;:&quot;{!$Record.TAG_AccountParentOrgNumber__c}&quot;, &quot;status&quot;:&quot;{!$Record.TAG_Status__c}&quot;, &quot;kanal&quot;:&quot;{!$Record.Type}&quot;, &quot;region&quot;:&quot;{!$Record.CRM_Region__c}&quot;, &quot;ansatt_NAV_enhet_navn&quot;:&quot;{!$Record.CRM_Unit__c}&quot;, &quot;paaminnelse_dato&quot;:&quot;{!paaminnelse_dato_text}&quot;, &quot;oppgaveposttype_id&quot;:&quot;{!$Record.RecordTypeId}&quot;, &quot;start_tid&quot;:&quot;{!start_tid_text}&quot;, &quot;slutt_tid&quot;:&quot;{!slutt_tid_text}&quot;, &quot;moeteundertype&quot;:&quot;{!$Record.EventSubtype}&quot;, &quot;varighet&quot;:&quot;{!$Record.DurationInMinutes}&quot;, &quot;relatert_til&quot;:&quot;{!$Record.WhatId}&quot;, &quot;relatert_til_hvem&quot;:&quot;{!$Record.WhoId}&quot;, &quot;IA_saksnummer&quot;:&quot;{!$Record.TAG_IACaseNumber__c}&quot;, &quot;IA_undertema&quot;:&quot;{!$Record.IASubtheme__c}&quot;, &quot;IA_samarbeid_id&quot;:&quot;{!$Record.TAG_IACooperationId__c}&quot;, &quot;posttype_navn&quot;:&quot;{!$Record.RecordTypeName__c}&quot;}</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StartDateTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
