force-app/main/default/flows/TAG_Convert_Employer_Inquiry_to_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Toast_for_created_opportunity</name>
        <label>Toast for created opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Du har opprettet en mulighet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Muligheten finner du på din hjem-skjerm</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:fcFlowToaster</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <decisions>
        <name>What_source</name>
        <label>What source?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Arbeidsplassen_no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbeidsplassen.no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_arbeidsplassen</targetReference>
            </connector>
            <label>Arbeidsplassen.no</label>
        </rules>
        <rules>
            <name>Kontaktsenteret</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktsenteret</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_kontaktsenteret</targetReference>
            </connector>
            <label>Kontaktsenteret</label>
        </rules>
        <rules>
            <name>Kontaktskjema</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_employer_inquiry.TAG_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kontaktskjema</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_opportunity_kontaktskjema</targetReference>
            </connector>
            <label>Kontaktskjema</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SourceChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StageChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InclusionStage__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThemeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InquiryCategory__c</picklistField>
        <picklistObject>CustomOpportunity__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ThemeSelection</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_employer_inquiry.TAG_Theme__c}) = &quot;Rekruttere og inkludere&quot;, &quot;Skal ansette&quot;,
IF(TEXT({!Get_employer_inquiry.TAG_Theme__c}) = &quot;Forebygge og redusere fravær&quot;, &quot;Forebygge sykefravær&quot;,
 null ))</expression>
    </formulas>
    <formulas>
        <name>ValidateProfessionValue</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Yrke}) &lt; 26, true, false)</expression>
    </formulas>
    <interviewLabel>TAG Convert Employer Inquiry to Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Convert Employer Inquiry to Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_opportunity_arbeidsplassen</name>
        <label>Create opportunity arbeidsplassen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OpportunityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Toast_for_created_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountRelated.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <elementReference>Steg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <elementReference>Tema</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Kommentarer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>Yrke</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Arbeidsplassen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_EmployerInquiry__c</field>
            <value>
                <elementReference>Get_employer_inquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_JobPosting__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_RelatedJobPosting__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>NavUnit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_No_person_information__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Service__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_SubTheme__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity_kontaktsenteret</name>
        <label>Create opportunity kontaktsenteret</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OpportunityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Toast_for_created_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountRelated.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <elementReference>Steg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <elementReference>Tema</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Kommentarer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>Yrke</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_EmployerInquiry__c</field>
            <value>
                <elementReference>Get_employer_inquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>NavUnit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_No_person_information__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Service__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_SubTheme__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity_kontaktskjema</name>
        <label>Create opportunity kontaktskjema</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>OpportunityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Toast_for_created_opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountRelated.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InclusionStage__c</field>
            <value>
                <elementReference>Steg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InquiryCategory__c</field>
            <value>
                <elementReference>Tema</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Kommentarer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profession__c</field>
            <value>
                <elementReference>Yrke</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_EmployerInquiry__c</field>
            <value>
                <elementReference>Get_employer_inquiry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_NavUnit__c</field>
            <value>
                <elementReference>NavUnit.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_No_person_information__c</field>
            <value>
                <elementReference>Ingen_brukeropplysninger</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAG_Service__c</field>
            <value>
                <elementReference>Get_employer_inquiry.TAG_SubTheme__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomOpportunity__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_employer_inquiry</name>
        <label>Get employer inquiry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmployerInquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CreateOpportunity</name>
        <label>Create opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_source</targetReference>
        </connector>
        <fields>
            <name>Detaljer_fra_henvendelse</name>
            <fieldText>Detaljer fra henvendelse</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Detaljer_fra_henvendelse_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetailsLeftSide</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Henvendelse: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_employer_inquiry.TAG_Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Detaljer_fra_henvendelse_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetailsRightSide</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Henvendelse: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_employer_inquiry.TAG_Message__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>OpprettNyMulighet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Opprett ny mulighet&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Detaljer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOpportunity_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateOpportunity_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountRelated</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Relatert til</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_employer_inquiry.TAG_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Kontakt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_employer_inquiry.TAG_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateOpportunity_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NavUnit</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TAG_NavUnit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Nav-enhet</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_employer_inquiry.TAG_NavUnit__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmployerInquiry</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>TAG_EmployerInquiry__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Henvendelse</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CustomOpportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_employer_inquiry.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DetailsFollowUp</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oppfølging&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateOpportunity_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateOpportunity_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tema</name>
                    <choiceReferences>ThemeChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ThemeSelection</elementReference>
                    </defaultValue>
                    <fieldText>Kategori</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Yrke</name>
                    <dataType>String</dataType>
                    <fieldText>Yrke</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Yrke-feltet kan kun inneholde opp till 25 tegn&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Yrke-feltet kan kun inneholde opp til 25 tegn&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!ValidateProfessionValue}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateOpportunity_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Steg</name>
                    <choiceReferences>StageChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Ny henvendelse</stringValue>
                    </defaultValue>
                    <fieldText>Steg</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Kommentarer</name>
            <fieldText>Kommentarer</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ikke skriv personopplysninger her.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ingen_brukeropplysninger</name>
            <dataType>Boolean</dataType>
            <fieldText>Ingen brukeropplysninger</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Bekreft at det ikke er skrevet sensitiv informasjon, eller opplysninger som kan knyttes til personbruker, i kommentarfeltet&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Vennligst bekreft at det Ikke er registrert sensitiv informasjon, eller opplysninger som kan knyttes til personbruker&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ingen_brukeropplysninger}</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Lagre</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_employer_inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
