force-app/main/default/flows/TAG_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Add_record_to_collection</name>
        <label>Add record to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>WorkfareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Run_through_workfares</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_through_workfares</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_less_than_5</name>
        <label>Assign values less than 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Run_through_workfares.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ikke tilgjengelig</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_more_than_5</name>
        <label>Assign values more than 5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Run_through_workfares.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_through_workfares.Type2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_record_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_many_employees</name>
        <label>How many employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_values_more_than_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than 5 employees</defaultConnectorLabel>
        <rules>
            <name>Less_than_5_employees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Run_through_workfares.HasLessThan5Employees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_less_than_5</targetReference>
            </connector>
            <label>Less than 5 employees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_workfares_found</name>
        <label>Were workfares found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Run_through_workfares</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found workfare</defaultConnectorLabel>
        <rules>
            <name>No_workfare_found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Workfares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Workfares</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No workfare found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TAG Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG Account</label>
    <loops>
        <name>Run_through_workfares</name>
        <label>Run through workfares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Workfares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>How_many_employees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_workfare</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Workfares</name>
        <label>Get Workfares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Were_workfares_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 AND 3) OR (4 AND 5)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasLessThan5Employees__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ikke tilgjengelig</stringValue>
            </value>
        </filters>
        <filters>
            <field>HasLessThan5Employees__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ikke tilgjengelig</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Workfare__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_workfare</name>
        <label>Update workfare</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>WorkfareCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Workfares</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WorkfareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Workfare__c</objectType>
    </variables>
</Flow>
