force-app/main/default/flows/TAG_NAVTask_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>IsNavTaskOwner00G</name>
        <label>Is NavTask Owner 00G</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>IsNavTaskOwner00GTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNavTaskOwner00GFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNavUnitId</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNavTaskUrgent</name>
        <label>Is NAVTask Urgent</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>IsStatusFullfort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>NavTaskUrgentTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNavTaskUrgentFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UrgentCheckboxSetToTrue</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatusFullfort</name>
        <label>Is Status Fullført</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>IsNavTaskOwner00G</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>IsStatusFullfortTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStatusFullfortFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UncheckUrgentCheckbox</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatusNyorFullfort</name>
        <label>Is Status Ny or Fullført</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>IsStatusSlett</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>StatusNyOrFullfortTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStatusNyOrFullfortFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountId</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatusSlett</name>
        <label>Is Status Slett</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>IsNavTaskUrgent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>StatusSlettTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStatusSlettFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountIDToNull</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNavTaskOwner00GFormula</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!$Record.OwnerId}, &quot;00G&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsNavTaskUrgentFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.CRM_DueDate__c} - TODAY() &lt; 1.5</expression>
    </formulas>
    <formulas>
        <name>IsStatusFullfortFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.CRM_Status__c} , &quot;Fullført&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsStatusNyOrFullfortFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISNEW(),
AND(
ISCHANGED( {!$Record.CRM_Status__c}),
OR
(ISPICKVAL({!$Record.CRM_Status__c} , &quot;Ny&quot;),
ISPICKVAL({!$Record.CRM_Status__c} , &quot;Fullført&quot;))
)
)</expression>
    </formulas>
    <formulas>
        <name>IsStatusSlettFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.CRM_Status__c} , &quot;Slett&quot;)</expression>
    </formulas>
    <interviewLabel>TAG NAVTask Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAG NAVTask Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getNavUnitId</name>
        <label>getNavUnitId</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateNavUnitOnNavTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetAccountId</name>
        <label>Set Account ID</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>IsStatusSlett</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_AccountRelated__c</field>
            <value>
                <elementReference>$Record.CRM_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetAccountIDToNull</name>
        <label>Set Account ID to Null</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>IsNavTaskUrgent</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_AccountRelated__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UncheckUrgentCheckbox</name>
        <label>Uncheck Urgent Checkbox</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>IsNavTaskOwner00G</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_UrgentCheckbox__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateNavUnitOnNavTask</name>
        <label>updateNavUnitOnNavTask</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <inputAssignments>
            <field>CRM_NavUnit__c</field>
            <value>
                <elementReference>getNavUnitId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UrgentCheckboxSetToTrue</name>
        <label>Urgent Checkbox set to True</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>IsStatusFullfort</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_UrgentCheckbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsStatusNyorFullfort</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName}=&apos;Employer&apos;</filterFormula>
        <object>NavTask__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
