force-app/main/default/flows/Update_NAVUnits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>createQueueNameFromUnitNumber</name>
        <dataType>String</dataType>
        <expression>&quot;queue_&quot;&amp;TEXT(VALUE({!Loop_Nav_Units_to_update.INT_UnitNumber__c}))</expression>
    </formulas>
    <interviewLabel>Update Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update NAVUnits</label>
    <loops>
        <name>Loop_Nav_Units_to_update</name>
        <label>Loop Nav Units to update</label>
        <locationX>837</locationX>
        <locationY>393</locationY>
        <collectionReference>colNavUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_with_same_Unit_Number</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Nav_Units</name>
        <label>Get Nav Units</label>
        <locationX>828</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Nav_Units_to_update</targetReference>
        </connector>
        <filters>
            <field>INT_Region__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Møre og Romsdal</stringValue>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputReference>colNavUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_QueueId__c</queriedFields>
        <queriedFields>INT_UnitNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_with_same_Unit_Number</name>
        <label>Get Queue with same Unit Number</label>
        <locationX>812</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Queue_Id_field_in_NAV_Unit</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createQueueNameFromUnitNumber</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueIdForNavUnit</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Queue_Id_field_in_NAV_Unit</name>
        <label>Update Queue Id field in NAV Unit</label>
        <locationX>616</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Loop_Nav_Units_to_update</targetReference>
        </connector>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Nav_Units_to_update.INT_UnitNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_QueueId__c</field>
            <value>
                <elementReference>queueIdForNavUnit</elementReference>
            </value>
        </inputAssignments>
        <object>NavUnit__c</object>
    </recordUpdates>
    <start>
        <locationX>399</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Get_Nav_Units</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionQueuesfromGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>colNavUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NavUnit__c</objectType>
    </variables>
    <variables>
        <name>conQueues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>queueIdForNavUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>textQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textQueueNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
