force-app/main/default/flows/Update_waitinglist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_status_to_p_meldt_0</name>
        <label>Update status to påmeldt</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Get_Course_Registrations.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Påmeldt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_waitinglist</name>
        <label>Update waitinglist</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Courses.Waitinglist__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record</name>
        <label>Check record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Registrations.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_to_p_meldt_0</targetReference>
            </connector>
            <label>List is not empty</label>
        </rules>
    </decisions>
    <interviewLabel>Update waitinglist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update waitinglist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Registrations</name>
        <label>Get Course Registrations</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Venteliste</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CourseRegistration__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Courses</name>
        <label>Get Courses</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_waitinglist</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course_Registrations.Course__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_record</name>
        <label>Update Course record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>Get_Courses</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record_0</name>
        <label>Update record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Courses</targetReference>
        </connector>
        <inputReference>Get_Course_Registrations</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Registrations</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
