force-app/main/default/flows/Update_NAVUnits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_chosen_Fylke</name>
        <label>Assign chosen Fylke</label>
        <locationX>285</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>chosenFylke</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fylkePicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Nav_Units</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agder</name>
        <choiceText>Agder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innlandet</name>
        <choiceText>Innlandet&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innlandet</stringValue>
        </value>
    </choices>
    <choices>
        <name>MoreogRomsdal</name>
        <choiceText>Møre og Romsdal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Møre og Romsdal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nordland</name>
        <choiceText>Nordland&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nordland</stringValue>
        </value>
    </choices>
    <choices>
        <name>Olso</name>
        <choiceText>Olso</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Olso</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oslo</name>
        <choiceText>Oslo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oslo</stringValue>
        </value>
    </choices>
    <choices>
        <name>OstViken</name>
        <choiceText>Øst-Viken&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Øst-Viken</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rogaland</name>
        <choiceText>Rogaland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rogaland</stringValue>
        </value>
    </choices>
    <choices>
        <name>TromsogFinnmark</name>
        <choiceText>Troms og Finnmark</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Troms og Finnmark</stringValue>
        </value>
    </choices>
    <choices>
        <name>Trondelag</name>
        <choiceText>Trøndelag</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trøndelag</stringValue>
        </value>
    </choices>
    <choices>
        <name>VestfoldogTelemark</name>
        <choiceText>Vestfold og Telemark</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vestfold og Telemark</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vestland</name>
        <choiceText>Vestland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vestland</stringValue>
        </value>
    </choices>
    <choices>
        <name>VestViken</name>
        <choiceText>Vest-Viken</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vest-Viken</stringValue>
        </value>
    </choices>
    <formulas>
        <name>createQueueNameFromUnitNumber</name>
        <dataType>String</dataType>
        <expression
        >&quot;queue_&quot;&amp;TEXT(VALUE({!Loop_Nav_Units_to_update.INT_UnitNumber__c}))</expression>
    </formulas>
    <formulas>
        <name>createQueueNameFromUnitNumber2</name>
        <dataType>String</dataType>
        <expression
        >&quot;queue_&quot;&amp;TEXT(VALUE({!Loop_Nav_Units_to_update_0.INT_UnitNumber__c}))</expression>
    </formulas>
    <interviewLabel>Update Queues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update NAVUnits</label>
    <loops>
        <name>Loop_Nav_Units_to_update</name>
        <label>Loop Nav Units to update</label>
        <locationX>174</locationX>
        <locationY>351</locationY>
        <collectionReference>colNavUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_with_same_Unit_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Next_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Nav_Units_to_update_0</name>
        <label>Loop Nav Units to update</label>
        <locationX>526</locationX>
        <locationY>502</locationY>
        <collectionReference>colNavUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue_with_same_Unit_Number_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Nav_Units</name>
        <label>Get Nav Units</label>
        <locationX>139</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Nav_Units_to_update</targetReference>
        </connector>
        <filters>
            <field>INT_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenFylke</elementReference>
            </value>
        </filters>
        <filters>
            <field>INT_UnitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOKAL</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_UnitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </filters>
        <filters>
            <field>INT_UnitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputReference>colNavUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_QueueId__c</queriedFields>
        <queriedFields>INT_UnitNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Nav_Units_0</name>
        <label>Get Nav Units</label>
        <locationX>545</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Nav_Units_to_update_0</targetReference>
        </connector>
        <filters>
            <field>CRM_QueueId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <filters>
            <field>INT_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>chosenFylke</elementReference>
            </value>
        </filters>
        <object>NavUnit__c</object>
        <outputReference>colNavUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_QueueId__c</queriedFields>
        <queriedFields>INT_UnitNumber__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_with_same_Unit_Number</name>
        <label>Get Queue with same Unit Number</label>
        <locationX>299</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Queue_Id_field_in_NAV_Unit</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createQueueNameFromUnitNumber</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueIdForNavUnit</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_with_same_Unit_Number_0</name>
        <label>Get Queue with same Unit Number</label>
        <locationX>657</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Queue_Id_field_in_NAV_Unit_0</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createQueueNameFromUnitNumber2</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>queueIdForNavUnit</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Queue_Id_field_in_NAV_Unit</name>
        <label>Update Queue Id field in NAV Unit</label>
        <locationX>36</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Loop_Nav_Units_to_update</targetReference>
        </connector>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Nav_Units_to_update.INT_UnitNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_QueueId__c</field>
            <value>
                <elementReference>queueIdForNavUnit</elementReference>
            </value>
        </inputAssignments>
        <object>NavUnit__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Id_field_in_NAV_Unit_0</name>
        <label>Update Queue Id field in NAV Unit</label>
        <locationX>380</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Loop_Nav_Units_to_update_0</targetReference>
        </connector>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Nav_Units_to_update_0.INT_UnitNumber__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_QueueId__c</field>
            <value>
                <elementReference>queueIdForNavUnit</elementReference>
            </value>
        </inputAssignments>
        <object>NavUnit__c</object>
    </recordUpdates>
    <screens>
        <name>Fylke</name>
        <label>Fylke</label>
        <locationX>413</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_chosen_Fylke</targetReference>
        </connector>
        <fields>
            <name>fylkePicklist</name>
            <choiceReferences>Agder</choiceReferences>
            <choiceReferences>Innlandet</choiceReferences>
            <choiceReferences>MoreogRomsdal</choiceReferences>
            <choiceReferences>Nordland</choiceReferences>
            <choiceReferences>Olso</choiceReferences>
            <choiceReferences>Oslo</choiceReferences>
            <choiceReferences>Rogaland</choiceReferences>
            <choiceReferences>TromsogFinnmark</choiceReferences>
            <choiceReferences>Trondelag</choiceReferences>
            <choiceReferences>VestfoldogTelemark</choiceReferences>
            <choiceReferences>Vestland</choiceReferences>
            <choiceReferences>VestViken</choiceReferences>
            <choiceReferences>OstViken</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Next_Step</name>
        <label>Next Step</label>
        <locationX>416</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Nav_Units_0</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>58</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Fylke</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>chosenFylke</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionQueuesfromGroup</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>colNavUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>NavUnit__c</objectType>
    </variables>
    <variables>
        <name>conQueues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QueueSobject</objectType>
    </variables>
    <variables>
        <name>queueIdForNavUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>textQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textQueueNameId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
